<div class="row">
	<div class="span3 profile-image">
		<!-- te-wrapper -->
		<div id="te-wrapper" class="te-wrapper">
			
			<!-- cover -->
			<div class="te-cover" style="cursor:default;">
				<img src="<%=@user_image%>" alt="profile picture" style="max-width:270px;">
			</div>
			<!-- cover -->
		</div>
		<!-- te-wrapper -->
	</div>
	
	<div class="span4">
		 
		 <!-- about me text -->	
		 <h2>...<%=@user_rank%></h2>
		 <p style="font-style:italic;">
			<%=@quote.quote%></br>
			- <%=@quote.author%>
		 </p>
		 <!-- about me text -->	
		 
		 
		 
		 
		 <h3>Let's socialize!</h3>
		 
		 <!-- social icons -->
		<ul class="social" url="<%=SITE_URL+'profile/'+@userprofile.id.to_s%>" name="<%=(@userprofile.firstname+' '+@userprofile.lastname).strip+"'s profile."%>">
			<li><a class="facebook share-fb">&#88;</a></li>
			<li><a class="twitter share-tw">&#95;</a></li>
			<li><a class="google share-googleplus">&#107;</a></li>
		</ul>
		<!-- social icons -->
		 
		 
		 
		 
	</div>
	<!--column 4/12-->
	
	
	
	
	<!--column 5/12-->
	<div class="span5">
		
		<!-- personal info -->
		 <ul class="personal-info">
			<li><span class="title">NAME</span><span class="value"><%=(@userprofile.firstname.strip.capitalize+' '+@userprofile.lastname.strip.capitalize).strip%></span></li>
			<li><span class="title">RACES WON</span><span class="value">33</span></li>
		 </ul>
		 <!-- personal info -->
	</div>
	<!--column 5/12-->
	
	<div class="span12 profile-image">
		<h2>My Competitions</h2>
		<div id="portfolio-items" class="portfolio-items" style="position: relative; overflow: hidden; height: auto;">
			<% @competitions.each do |competition| %>
				<div class="item" style="width:140px; height:150px;">
					<div class="media-box">
						<img src="<%=(competition.image_url.nil?)?DEFAULT[:COMPETITION_IMG]:competition.image_url%>" alt="<%=competition.name%>" style="width:140px; height:100px;">
						<div class="mask" competition_id="<%=competition.id%>">
							<h3 class="title" style="margin-top:12%;">See Details</h3>
							<!--<a href="#/competitions/show/<%=competition.id%>" class="ico show-details supress" onclick=""></a>-->
							<a href="/competition/<%=competition.id%>" class="ico show-details supress" onclick=""></a>
						</div>
					</div>
					<h3 class="project-title"><%=competition.name%></h3>
				</div>
			<% end %>
		</div>
	</div>
	
	

</div>

<%= javascript_include_tag "share" %>