<div class="span7 portfolio-field">
	<% ndx = 0 %>
	<% @articles.each do |article| %>
		<% float = (ndx%2==0)?'right':'left' %>
		<% article_type = (article.article_type==ARTICLE_TYPE[:ARTICLE])?'article':'gallery' %>
		<% link = article.ArticleLinks.where({:url_type=>URL_TYPE[:IMAGE]}).first %>
		<h3><span class="label black"><a href="#/articles/<%=article.id%>" style="color:white;"><%=article.title%></a></span></h3>
		<div class="history-unit article-group">
			<h5><%=article.author%><span class="work-time"><%=article.created_at.strftime('%b %d, %Y')%></span></h5>
			<% if (article.article_type==ARTICLE_TYPE[:ARTICLE]) %>
				<% if (!link.nil?) %>
					<a class="article_gallery" title="<%=link.description%>" rel="<%=article.id%>" href="<%=link.url%>">
						<img alt="<%=link.description%>" src="<%=link.url%>" class="article <%=float%>">
					</a>
				<% end %>
				<p class="article"><%=strip_tags(article.body)%></p>
			<% else %>
				<% links = article.ArticleLinks.where({:url_type=>URL_TYPE[:IMAGE]}).limit(5) %>
				<% links.each do |link| %>
					<a class="article_gallery" title="<%=link.description%>" rel="<%=article.id%>" href="<%=link.url%>">
						<img alt="<%=link.description%>" src="<%=link.url%>" class="article">
					</a>
				<% end %>
			<% end %>
			
			<div style="clear:both;"></div>
			<a href="#/articles/<%=article.id%>" class="read-more"><h5>View full <%=article_type%></h5></a>	
		</div>
		<% ndx += 1 %>
	<% end %>
</div>

<div class="span5 portfolio-field">
	<h3>Races</h3>
	<div id="portfolio-items" class="portfolio-items" style="position: relative; overflow: hidden; height: auto;">
		<% @races.each do |race| %>
			<div class="item" style="width:140px;">
				<div class="media-box">
					<img src="<%=(race.image_url.nil?)?DEFAULT[:RACE_IMG]:race.image_url%>" alt="<%=race.name%>" style="width:140px; height:100px;">
					<div class="mask" race_id="<%=race.id%>">
						<h3 class="title" style="margin-top:12%;">Race Details</h3>
						<a href="#/races/show/<%=race.id%>" class="ico show-details supress" onclick=""></a>
					</div>
				</div>
				<h3 class="project-title" style="margin-top:-40px;"><%=race.name%></h3>
			</div>
		<% end %>
	</div>
</div>