<div id="module-container"><!-- start #module-container -->
	<div id="module-background-holder">
		<%=image_tag 'backgrounds/dirt.jpg', {:onload=>'animateModuleBackground(this)', :class=>'module-background', :id=>'module-background'}%>
	</div>	
	<div id="module-container-holder" class="module-position-lc wide"  data-id="module-position-lc">
		<div id="module-text-page"  class="module-philosophy shadow-side-all">
			<div id="module-wrapper">
				<div id="module-text-page-holder-philosophy" style="width:95%;">             	
					<div class="title-holder">
						<span class="title-text_normal">Articles</span>
					</div>
					<div class="custom-separator"></div>
					
					<% @articles.each do |article| %>
						<div class="news-item-vertical">
							<div class="news-item-vertical-title" style="cursor:default;"><%=article.title%></div>
							
							<div class="main-text-holder" style="margin-bottom:20px;">
								<p style="margin-top:0px;">Published on <%=article.created_at.strftime('%B %e, %Y')%> by <%=article.author%></p>
								<%=raw(article.body)%>
							</div>
							
							<% article.ArticleLinks.each do |link| %>
								<a href="<%=link.url%>" target="_blank"><img src="<%=link.url%>" style="max-width:128px; max-height:96px;"></a>
							<% end %>
							<!--<div class="news-item-vertical-read-more"><span>Read More</span></div>-->
						</div>
						
						<div style="clear:both;"></div>
						<div class="custom-separator"></div>
					<% end %>
					
				</div>
			</div>                	 
		</div>
		<div id="module-scrollbar-holder">
			<div id="module-scrollbar-background" class="opacity_4"></div>
			<div id="module-scrollbar-dragger"></div>
		</div>    
	</div>
		
</div><!-- end #module-container -->