<%=csrf_meta_tag%>

<div class="portfolio-single container">
		
	<div class="row">
	
		<!-- InstanceBeginEditable name="Content" -->
		
		
		<!-- TITLE - column 8/12 -->
		<div class="span8 portfolio-field portfolio-title">
			<h2>Edit participants</h2>
		</div>
		<!-- TITLE - column 8/12 -->
		
		
		<!-- PORTFOLIO-NAV - column 4/12 -->
		<div class="span4 portfolio-field portfolio-nav" style="margin-bottom:30px;">
			<a class="icon button back" href="#/competitions" title="Back"><</a>
			<a class="icon button" href="#/competitions/edit/<%=@competition_id%>" title="Edit Competition">></a>
		</div>
		<!-- PORTFOLIO-NAV - column 4/12 -->
		
		<div class="span8" style="border-right:3px solid #FFE04F;">
			<div id="portfolio-items" class="portfolio-items" style="position: relative; overflow: hidden; height: auto;">
				<% @participants.each do |participant| %>
					<div class="item">						
						<div class="media-box">
							<a href="#/profile/<%=participant.user_id%>">
								<img src="<%=(participant.user.image_url.nil?)?DEFAULT[:USER_IMG]:participant.user.image_url%>" alt="<%=(participant.user.firstname+' '+participant.user.lastname).strip%>" style="height:140px; width:210px;">
							</a>
						</div>
						<h3 class="project-title">
							<a href="#/profile/<%=participant.user_id%>">
								<%=(participant.user.firstname+' '+participant.user.lastname).strip%>
							</a>
							&nbsp;
							<% if (participant.user_id != @competition.creator_id) %>
								<a href="#">Kick out</a>)
							<% end %>
						</h3>
					</div>
				<% end %>
			</div>
		</div>
		
		<div class="span1"></div>
		
		<div class="span3">
			<textarea class="text required" id="invitation_emails" name="invitation_emails" placeholder="Enter a comma separated list of emails to invite."></textarea>
			<button id="submit" style="margin-top:20px;" onclick="send_invitation_emails();">Invite</button>
			<img class="loading" src="/assets/ajax-loader.gif"></br>
			<span id="success" style="color:green; display:none;">Invitations sent.</span>
		</div>
		
		<!-- InstanceEndEditable -->
		
	</div>
	
</div>

<script>
function send_invitation_emails() {
	emails = $('#invitation_emails').val();
	$('#submit').hide();
	$('.loading').show();
	$('#success').hide();

	$.post('/competitions/send_invitation_emails', {competition_id:<%=@competition_id%>, emails:emails}, function(response) {
		console.log(response);
		if (!response.success)
			alert(response.msg);
		else $('#success').show();
		
		$('#submit').show();
		$('.loading').hide();
	});
}
</script>
