<%=csrf_meta_tag%>

<div class="close_fancybox" style="position:absolute; left:94%; cursor:pointer; padding:5px; padding-bottom:15px;">
	<img src="/assets/close.png" style="height:15px;">
</div>
	
<div style="height:500px; padding:25px;">

	
	<h2>CREATE A NEW COMPETITION</h2>

	<div class="entry">
		<input type="text" id="competition_name" name="competition_name" placeholder="Competition name">
	</div>

	<div class="entry">
		<textarea id="competition_description" name="competition_description" placeholder="Competition description"></textarea>
	</div>

	<div class="entry">
		<input type="text" id="competition_image_url" name="competition_image_url" placeholder="Image URL">
	</div>

	<div class="entry">
		<label style="float:left; min-width:80px;">Open to:</label>
		
		<input id="public" type="radio" name="open_to" value="public" checked="checked" style="float:left; width:auto; min-width:0px; margin-top:4px; margin-right:5px;">
		<label for="public" style="float:left;">Public</label>
		<input id="private" type="radio" name="open_to" value="private" style="float:left; width:auto; min-width:0px; margin-top:4px; margin-right:5px; margin-left:50px;">
		<label for="private" style="float:left;">Invitations Only</label>
		<div style="clear:both;"></div>
	</div>

	<div class="invitations entry" style="display:none;">
		<label style="float:left; min-width:80px;">Invitation emails:</label>
		<textarea id="invitation_emails" name="invitation_emails" placeholder="Enter a list of emails separated by commas."></textarea>
	</div>

	<div class="entry">
		<label>Choose races:</label></br>
		
		<% @races.each do |race| %>
			<div class="race">
				<input type="checkbox" name="race_choice" id="<%=race.id%>" value="<%=race.id%>" style="float:left; width:auto; min-width:0px; margin-top:4px; margin-right:5px;">
				<label for="<%=race.id%>" style="float:left;"><%=race.name%></label>
				<div style="clear:both;"></div>
			</div>
		<% end %>
	</div>

	<div style="margin-bottom:15px;">
		<button id="submit" onclick="submit_competition(event);">Create</button>
		<img class="loading" src="/assets/ajax-loader.gif">
	</div>
</div>
<script>
$(document).ready(function() {
	$('#public').click(function() {
		$('.invitations').fadeOut();
	});
	
	$('#private').click(function() {
		$('.invitations').fadeIn();
	});
	
	$("body").bind("ajaxSend", function(elm, xhr, s){
		if (s.type == "POST") {
		  xhr.setRequestHeader('X-CSRF-Token', $('meta[name="csrf-token"]').attr('content'));
		}
	});
	
	$('.close_fancybox').click(function() {
		$.fancybox.close();
	});
	
	setupScrollBars();
});

function submit_competition(event) {
	$('.loading').show();
	$('#submit').hide();
	
	data = {};
	data['competition_name'] = $('#competition_name').val();
	data['competition_description'] = $('#competition_description').val();
	data['competition_image_url'] = $('#competition_image_url').val();
	data['open_to'] = $('input[name=open_to]:checked').val();
	if (data['open_to']=='private') data['invitations'] = $('#invitation_emails').val();
	data['races'] = [];
	$('input[name=race_choice]:checked').each(function(ndx, elt) {
		data['races'].push($(elt).val());
	});
	
	$.post('/competitions/save_competition', {data:data}, function(response) {
		if (!response.success) {
			alert(response.msg);
			$('.loading').hide();
			$('#submit').show();
		} else {
			alert('Competition created');
			window.location.reload();
		}
	});
	
	event.preventDefault();
}
</script>

<style>
.entry {
	margin-bottom: 15px;
}

.entry .race {
	margin-left: 20px;
}
</style>