<div class="portfolio-single container">
		
	<div class="row">
	
		<!-- InstanceBeginEditable name="Content" -->
		
		
		<!-- TITLE - column 8/12 -->
		<div class="span8 portfolio-field portfolio-title">
			<h2><%=@data[:competition].name%></h2>
		</div>
		<!-- TITLE - column 8/12 -->
		
		
		<!-- PORTFOLIO-NAV - column 4/12 -->
		<div class="span4 portfolio-field portfolio-nav">
			<a class="icon button prev ajax" href="#/competitions/show/<%=@data[:competition].id%>" title="Summary">"</a>
			<a class="icon button prev ajax race_results" href="portfolio-item-03.html" title="Race Results" style="<%=(@data[:is_participant])?'':'display:none;'%>">x</a>
			<a class="icon button prev ajax" href="#/competitions/leaderboard/<%=@data[:competition].id%>" title="Leaderboard">K</a>
			<a class="icon button back" href="#/competitions" title="Close">Â</a>
		</div>
		<!-- PORTFOLIO-NAV - column 4/12 -->
		
		<!-- PORTFOLIO-IMAGES - column 8/12 -->
		<div class="span8 portfolio-field">
			<img src="<%=@data[:stages].first.image_url%>" alt="<%=@data[:stages].first.name%>" class="stage_img stage_data_container">
			<div class="tip_data" race_id="<%=@data[:race_id]%>" competition_id="<%=@data[:competition].id%>" stage_id="<%=@data[:stages].first.id%>"></div>
			<h3>Tip a Rider</h3>
			<p>
				<% @data[:teams].each do |team| %>
					<h4><%=team[:team_name]%></h4>
					<div id="portfolio-items" class="portfolio-items stage_data_container" style="position: relative; overflow: hidden; height: auto;">
						<% team[:riders].each do |rider| %>
							<div class="item">
								<div class="media-box">
									<img src="<%=rider.rider.photo_url%>" alt="<%=rider.rider.name%>" style="width:210px; height:150px;">
									<div class="mask tip_rider <%=(@data[:first_stage_tipped_rider_id]==rider.rider_id)?'selected-mask':''%>" rider_id="<%=rider.rider_id%>">
										<h3 class="title">Tip Rider</h3>
										<a href="#" class="ico show-details new_competition supress" onclick="tip_rider(this);"></a>
									</div>
								</div>
								<h3 class="project-title" style="margin-top:-40px;"><%=rider.rider.name%></h3>
							</div>
						<% end %>
					</div>
				<% end %>
			</p>
		</div>
		<!-- PORTFOLIO-IMAGES - column 8/12 -->
		
		
		<!-- PORTFOLIO SIDEBAR - column 4/12 -->
		<div class="span4 portfolio-field">
			<div class="history-group">
				<!--<h3><span class="label black">Stages</span></h3>-->
				<div class="history-unit">
					<select onchange="get_competition_stage_data('<%=@data[:competition].id%>', this.value);">
						<% @data[:stages].each do|stage| %>
							<option value="<%=stage.id%>"><%=stage.name%></option>
						<% end %>
					</select>
				</div>
				
				<div class="history-unit description stage_data_container">
					<h4 style="font-weight:bold;">Description</h4>
					<p><%=@data[:stages].first.description%></p>
				</div>
				
				<div class="history-unit profile stage_data_container">
					<h4 style="font-weight:bold;">Profile</h4>
					<p><%=@data[:stages].first.profile%></p>
				</div>
				
				<div class="history-unit starts_on stage_data_container">
					<h4 style="font-weight:bold;">Starts on</h4>
					<p><%=@data[:stages].first.starts_on%></p>
				</div>
				
				<div class="history-unit distance stage_data_container">
					<h4 style="font-weight:bold;">Distance</h4>
					<p><%=@data[:stages].first.start_location%> - <%=@data[:stages].first.end_location%> (<%=@data[:stages].first.distance_km%> km)</p>
				</div>
			</div>	
		</div>
		<!-- PORTFOLIO SIDEBAR - column 4/12 -->
			
		<!-- InstanceEndEditable -->
		
	</div>
	
</div>