<div class="main-text-holder">
	<p><span><%=@data[:competition].description %></span></p>
	
	<p>Created by <%=(@data[:creator].display_name).strip%></p>

	<% if (!@user.nil? && !@data[:competition].is_complete && @data[:is_participant] && !@data[:is_creator]) %>
		<p style="float:right;">
			<a style="color:blue; cursor:pointer;" onclick="leave_competition('<%=@data[:competition].id%>');">(Leave competition)</a>
		</p>
	<% end %>
	
	<div class="custom-separator" style="margin-bottom:15px;"></div>
	<div style="clear:both;"></div>
	
	<% @articles.each do |article| %>
		<div class="news-item-vertical">
			<%= image_tag 'blank.jpg', {:onload=>'fix_module_text_page(this);'} %>
			<div class="news-item-vertical-title" style="cursor:default;"><%=article.title%></div>
			
			<div class="main-text-holder" style="margin-bottom:20px;">
				<p style="margin-top:0px; font-style:italic;">Published on <%=article.created_at.strftime('%B %e, %Y')%> by <%=article.author%></p>

				<%=raw(article.body)%>

			</div>
		</div>
		
		<div style="clear:both;"></div>
		<div class="custom-separator"></div>
	<% end %>
	
	<p>
		<%= image_tag 'blank.jpg', {:onload=>'load_comments();'} %>
		<div class="fb-comments" data-href="<%=SITE_URL%>competition/<%=@data[:competition].id%>" data-width="700" data-num-posts="10"></div>
	</p>
	
</div>