<div class="portfolio-single container">
		
	<div class="row">
	
		<!-- InstanceBeginEditable name="Content" -->
		
		
		<!-- TITLE - column 8/12 -->
		<div class="span8 portfolio-field portfolio-title">
			<h2><%=@competition.name%></h2>
		</div>
		<!-- TITLE - column 8/12 -->
		
		
		<!-- PORTFOLIO-NAV - column 4/12 -->
		<div class="span4 portfolio-field portfolio-nav">
			<a class="icon button back" href="#/competitions/leaderboard/<%=@competition_id%>" title="Back"><</a>
		</div>
		<!-- PORTFOLIO-NAV - column 4/12 -->
		
		<!-- PORTFOLIO-IMAGES - column 8/12 -->
		<div class="span12 portfolio-field">
			<% @tips.each do |tip| %>
			<h3><%=tip[:race].name%></h3>
				<table class="leaderboard_table">
					<tr>
						<th align="left">Stage</th>
						<th align="left">Rider</th>
						<th align="left">Time</th>
						<th align="left">Cumulative</th>
						<th align="left">Default</th>
					</tr>
					
					<% cumulative_time = nil %>
					<% tip[:tips].each do |tip_data| %>
						<%
						time = 'TBA'				
						result_data = tip_data[:default_result]||tip_data[:result]
						if (!result_data.nil?)
							time = Time.at(result_data.time).gmtime.strftime('%R:%S')
							cumulative_time ||= 0
							cumulative_time += result_data.time
							
							if (result_data.time >= 86400)
								days = (Time.at(result_data.time).gmtime.strftime('%-d').to_i - 1).to_s
								time = Time.at(result_data.time).gmtime.strftime(days+' day(s), %R:%S')
							else
								time = Time.at(result_data.time).gmtime.strftime('%R:%S')
							end
							
							if (cumulative_time >= 86400)
								days = (Time.at(result_data.time).gmtime.strftime('%-d').to_i - 1).to_s
								formatted_cumulative_time = Time.at(cumulative_time).gmtime.strftime(days+' day(s), %R:%S')
							else
								formatted_cumulative_time = Time.at(cumulative_time).gmtime.strftime('%R:%S')
							end
							
						end 
						%>
						<tr>
							<td><a href="/#/stages/<%=tip_data[:stage].id%>"><%=tip_data[:stage].name%></a></td>
							<td><%=(tip_data[:rider].nil?)?'':tip_data[:rider].name%></td>
							<% if (tip_data[:disqualified].nil?) %>
								<td><%=time%></td>
								
							<% else %>
								<td><%=tip_data[:disqualified]%></td>
							<% end %>
							<td><%=formatted_cumulative_time%></td>
							<td><%=(tip_data[:default_rider].nil?)?'':tip_data[:default_rider].name%></td>
						</tr>
					<% end %>
				</table>
			<% end %>
		</div>
		<!-- PORTFOLIO-IMAGES - column 8/12 -->
	</div>
	
</div>

<style>
table tr {
	border-bottom: 1px solid black;
}
</style>