<% @tips.each do |tip_data| %>

	<div class="main-text-holder">
		<p>
			<span><%=tip_data[:race].name%></span>
			
			<div class="competition_results">
				<table>
					<thead>
						<tr>
							<th>Stage</th>
							<th>Rider</th>
							<th>Time</th>
							<th>Bonus</th>
							<th>Cumulative</th>
							<th>Default</th>
						</tr>
					</thead>
					
					<tbody>
						<% tip_data[:tips].each do |tip| %>
							<tr>
								<td><%=tip[:stage].name%></td>
								<td><%=tip[:rider].name if (!tip[:rider].nil?)%></td>
								<td><%=tip[:time_formatted]%></td>
								<td><%=tip[:bonus_time_formatted]%></td>
								<td><%=tip[:cumulative_formatted_time]%></td>
								<td><%=tip[:default_rider].name if (!tip[:default_rider].nil?)%> <%='('+tip[:disqualified]+')' if (!tip[:disqualified].nil?)%></td>
							</tr>
						<% end %>
					</tbody>
				</table>
			</div>
		</p>
	</div>

	<div class="custom-separator"></div>
<% end %>