<%=render 'competitions/partials/competition_header'%>
<%=render 'competitions/partials/stage_header'%>
<%=render 'competitions/partials/tip_sheet_template'%>
<%=render 'competitions/partials/stage_leaderboard_template'%>
<%=render 'competitions/partials/stage_image_slider_template'%>
<%=render 'competitions/partials/other_info_template'%>
<%=render 'competitions/partials/tipping_report_template'%>

<div class="content">

	<div class="row">
		<div class="large-3 small-12 columns">
			<%=render 'competitions/partials/left_navigator'%>
		</div>
		<div class="large-9 hide-for-small columns">
			<div id="content-with-nav">
				<!-- Overview -->
				<div id="overview">
					<div class="name">
						OVERVIEW
						<div class="title black"><%=@competition.name%></div>
					</div>
					
					<div class="info">
						<div class="col big bold" style="margin-right:10px;">
							<%=@completed_stages%>/<%=@total_stages%>
						</div>
						
						<div class="col bold stacked" style="margin-right:50px;">
							STAGES</br>COMPLETED
						</div>
						
						<div class="col big bold" style="margin-right:10px;">
							<%=@num_participants%>
						</div>
						
						<div class="col bold stacked">
							TIPPERS</br>JOINED
						</div>
						
						<div class="col bold" style="float:right; padding-right:20px;">
							CREATED BY <img class="user-pic" src="/users/picture/<%=@competition.creator_id%>"> <%=(@creator.firstname+' '+@creator.lastname).strip%>
						</div>
						<% @reports.reverse_each do |r| %>
							<div class="tipping-report" style="margin-bottom:100px;">
								<div class="bar">&nbsp;</div>
								<div class="title bold">
									<%=r[:stage_name]%>&nbsp;
									<% if (r[:report_type]==REPORT_TYPE[:STAGE]) %>
										Stage Report
									<% elsif (r[:report_type]==REPORT_TYPE[:PREVIEW]) %>
										Stage Preview
									<% elsif (r[:report_type]==REPORT_TYPE[:TIPPING]) %>
										Tipping Report
									<% end %>
								</div> 
								<div class="title-2"><%=r[:title]%></div>
								<div class="report-text" style="max-height:300px; overflow:hidden; margin-bottom:25px;">
									<% if (r[:report_type]==REPORT_TYPE[:STAGE] || r[:report_type]==REPORT_TYPE[:PREVIEW]) %>
										<%=raw((r[:report].length>550)?r[:report][0..550]+'...':r[:report])%>
									<% else %>
										<%=simple_format((r[:report].length>550)?r[:report][0..550]+'...':r[:report])%>
									<% end %>
								</div>
								<a href="/competitions/<%=@competition.id%>?stage_id=<%=r[:stage_id]%>"><div class="btn yellow">Read more</div></a>
							</div>
						<% end %>
						<%=render 'competitions/partials/competition_leaderboard'%>
						<div style="clear:both;"></div>
					</div>
				</div>

			</div>
		</div> <!--COLUMN-->
	</div> <!--ROW-->
</div>

<% if (!@stage_id.nil?) %>
	<script>
		$(document).ready(function() {
			load_stage_info('<%=@stage_id%>', '<%=@competition.id%>');
		});
	</script>
<% end %>