<%=render 'competitions/partials/competition_header'%>
<%=render 'competitions/partials/stage_header'%>
<%=render 'competitions/partials/tip_sheet_template'%>
<%=render 'competitions/partials/stage_leaderboard_template'%>
<%=render 'competitions/partials/stage_image_slider_template'%>
<%=render 'competitions/partials/other_info_template'%>
<%=render 'competitions/partials/tipping_report_template'%>

<div class="content">
	<div class="row hide-for-medium-up">
		<div class="large-12 columns">
			<a href="/">
				<div class="back-button">
					<%=image_tag 'back.png' %> <span>Back to Race List</span>
				</div>
			</a>
		</div>
	</div>
	<div class="row hide-for-medium-up">
		<div class="small-12 columns">
			<a class="button grayblack hide-for-medium-up" id="sidebarButton">
				<span class="arrow yellow">
					<span class="arrow-shape"></span>
				</span>
				Select Stage
			</a>
		</div>
	</div>
	<div class="row">
		<div class="large-3 columns" role="complementary">
			<%=render 'competitions/partials/left_navigator'%>
		</div>
		<div class="large-9 small-12 columns" role="main" >
			<div id="content-with-nav">
				<!-- Overview -->
				<div id="overview">
					<div class="name">
						OVERVIEW
						<div class="title black"><%=@competition.name%></div>
					</div>
					
					<div class="info">
						<div class="row collapse">
							<div class="large-4 small-4 columns">
								<div class="big bold">
									<%=@completed_stages%>/<%=@total_stages%>
								</div>
								
								<div class="bold stacked">
									STAGES</br>COMPLETED
								</div>
							</div>
							<div class="large-4 small-3 columns">
								<div class="big bold" style="margin-right:10px;">
									<%=@num_participants%>
								</div>
								<div class="bold stacked">
									TIPPERS</br>JOINED
								</div>
							</div>
							<div class="large-4 small-5 columns">
								<div class="bold" style="float:right; padding-right:20px;">
									<img class="user-pic" src="/users/picture/<%=@competition.creator_id%>"> CREATED BY <br> <%=(@creator.firstname+' '+@creator.lastname).strip%>
								</div>
							</div>
						</div>

						<div style="clear:both;"></div>
					</div>
				</div>
				<div class="stage-image-container">
					<div class="stage-images flexslider">
						<ul class="slides">
							<li>
								<img src="http://res.cloudinary.com/racetipper/image/upload/w_620,h_320,c_fit/stage_177_1_augbmo.jpg">
							</li>
							<li>
								<img src="http://res.cloudinary.com/racetipper/image/upload/w_620,h_320,c_fit/stage_177_2_ov5pyw.jpg">
							</li>
						</ul>
					</div>
				</div>
				<script>
					$(window).load(function(){
						$('.stage-images').flexslider({
               				animation: "slide",
               				controlNav: true,
						});
					});
				</script>
				<% @reports.reverse_each do |r| %>
					<div class="tipping-report hide-for-small" style="margin-bottom:100px;">
						<div class="bar">&nbsp;</div>
						<div class="title bold">
							<%=r[:stage_name]%>&nbsp;
							<% if (r[:report_type]==REPORT_TYPE[:STAGE]) %>
								Stage Report
							<% elsif (r[:report_type]==REPORT_TYPE[:PREVIEW]) %>
								Stage Preview
							<% elsif (r[:report_type]==REPORT_TYPE[:TIPPING]) %>
								Tipping Report
							<% end %>
						</div> 
						<div class="title-2"><%=r[:title]%></div>
						<div class="report-text" style="max-height:300px; overflow:hidden; margin-bottom:25px;">
							<% if (r[:report_type]==REPORT_TYPE[:STAGE] || r[:report_type]==REPORT_TYPE[:PREVIEW]) %>
								<%=raw((r[:report].length>550)?r[:report][0..550]+'...':r[:report])%>
							<% else %>
								<%=simple_format((r[:report].length>550)?r[:report][0..550]+'...':r[:report])%>
							<% end %>
						</div>
						<div class="btn yellow" onclick="load_stage_info(<%=r[:stage_id]%>, <%=@competition.id%>)">Read more</div>
					</div>
				<% end %>

				<%=render 'competitions/partials/competition_leaderboard'%>

			</div>
		</div> <!--COLUMN-->
	</div> <!--ROW-->
</div>

<% if (!@stage_id.nil?) %>
	<script>
		$(document).ready(function() {
			load_stage_info('<%=@stage_id%>', '<%=@competition.id%>');
		});
	</script>
<% end %>