<%= javascript_include_tag "share" %>

<div class="portfolio-single container">
		
	<div class="row">
	
		<!-- InstanceBeginEditable name="Content" -->
		
		
		<!-- TITLE - column 8/12 -->
		<div class="span8 portfolio-field portfolio-title">
			<h2><%=@data[:competition].name%></h2>
		</div>
		<!-- TITLE - column 8/12 -->
		
		
		<!-- PORTFOLIO-NAV - column 4/12 -->
		<div class="span4 portfolio-field portfolio-nav">
			<a class="icon button prev ajax" href="#/competitions/show/<%=@data[:competition].id%>" title="Summary">"</a>
			<a class="icon button prev ajax race_results" href="#/competitions/results/<%=@data[:competition].id%>" title="Race Results" style="<%=(@data[:is_participant])?'':'display:none;'%>">x</a>
			<a class="icon button prev ajax" href="#/competitions/leaderboard/<%=@data[:competition].id%>" title="Leaderboard">K</a>
			<% if (@is_owner) %>
				<a class="icon button ajax" href="#/competitions/edit/<%=@data[:competition].id%>" title="Edit">></a>
			<% end %>
			<a class="icon button back" href="#/competitions" title="Close">Â</a>
		</div>
		<!-- PORTFOLIO-NAV - column 4/12 -->
		
		
		<!-- PORTFOLIO-IMAGES - column 8/12 -->
		<div class="span8 portfolio-field">
			<img src="<%=@data[:competition].image_url%>" alt="<%=@data[:competition].name%>" style="margin-bottom:-25px;">
			
			<h3>Share this!</h3>
			<ul class="social" url="<%=SITE_URL+'competition/'+@data[:competition].id.to_s%>" name="<%=@data[:competition].name%>">
				<li><a class="facebook share-fb">&#88;</a></li>
				<li><a class="twitter share-tw">&#95;</a></li>
				<li><a class="google share-googleplus">&#107;</a></li>
			</ul>
		</div>
		<!-- PORTFOLIO-IMAGES - column 8/12 -->
		
		
		<!-- PORTFOLIO SIDEBAR - column 4/12 -->
		<div class="span4 portfolio-field">
			
			<h3>Description</h3>
			<p><%=@data[:competition].description%></p>
			
			<h3>Creator</h3>
			<p><%=(@data[:creator].firstname+' '+@data[:creator].lastname).strip%></p>
			
			<h3>Races</h3>
			<ul class="tags">
				<% @data[:races].each do |race| %>
					<li><a><%=race.race.name%></a></li>
				<% end %>
			</ul>
			
			<div class="launch">
				<% if (@user.nil?) %>
					<a href="#" class="btn">SIGN IN TO PARTICIPATE</a>
				<% elsif (@data[:is_participant]) %>
					<a class="btn" href="#/competitions/results/<%=@data[:competition].id%>">TIP RIDERS</a>
				<% else %>
					<a href="#" class="btn join_competition_button" onclick="join_competition('<%=@data[:competition].id%>', event);">JOIN COMPETITION</a>
					<img class="join_competition_loading" src="/assets/ajax-loader.gif" style="display:none; margin-top:2em;">
					<a class="btn tip_rider_button" href="#/competitions/results/<%=@data[:competition].id%>" title="Race Results" style="<%=(@data[:is_participant])?'':'display:none;'%>">TIP RIDER</a>
				<% end %>
			</div>
			
		</div>
		<!-- PORTFOLIO SIDEBAR - column 4/12 -->
			
		<!-- InstanceEndEditable -->
		
	</div>
	
</div>