<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>

<div style="padding:15px;">
	<label style="font-weight:bold;">Title:</label></br>
	<input id="title" type="text" style="width:280px;" value="<%=@article.title%>">
	
	</br>
	<label style="font-weight:bold;">Author:</label></br>
	<input id="author" type="text" style="width:280px;" value="<%=@article.author%>">
	
	</br>
	<label style="font-weight:bold;">Type:</label></br>
	<select id="type">
		<option value="ARTICLE">Article</option>
		<option value="GALLERY">Gallery</option>
	</select>
	<span id="help-article" class="help-type">Image appears inline within text.</span>
	<span id="help-gallery" class="help-type" style="display:none;">Row of images appear below text.</span>
	
	</br>
	<label style="font-weight:bold;">Body:</label></br>
	<textarea id="body" rows="6" style="width:100%;"><%=@article.body%></textarea>
	
	</br>
	<div id="images" style="width:48%; float:left;">
		<h4 style="margin-bottom:5px;">Add Images</h4>
		<% @image_links.each do |link| %>
			<div class="image">
				<input type="text" name="url" placeholder="URL" value="<%=link.url%>">
				<input type="text" name="description" placeholder="Description" value="<%=link.description%>">
				<a href="#" onclick="remove_link(this);">Remove</a>
				</br></br>
			</div>
		<% end %>
		<button class="add" type="image">+Add new</button>
	</div>
	
	<div id="videos" style="width:48%; float:left;">
		<h4 style="margin-bottom:5px;">Add Videos</h4>
		<% @video_links.each do |link| %>
			<div class="image">
				<input type="text" name="url" placeholder="URL" value="<%=link.url%>">
				<input type="text" name="description" placeholder="Description" value="<%=link.description%>">
				<a href="#" onclick="remove_link(this);">Remove</a>
				</br></br>
			</div>
		<% end %>
		<button class="add" type="video">+Add new</button>
	</div>

	<div style="clear:both;"></div>
	</br>
	<hr />
	<button onclick="submit_article();">Save</button>
</div>

<div class="template">
	<input type="text" name="url" placeholder="URL">
	<input type="text" name="description" placeholder="Description" value="">
	<a href="#" onclick="remove_link(this);">Remove</a>
	</br></br>
</div>

<style>
	span.help-type {
		margin-left: 20px;
		font-style: italic;
		color: green;
	}
	
	.image a, .video a {
		color: blue;
	}
	
	.template {
		display: none;
	}
</style>

<script>
$(document).ready(function() {
	$('#type').change(function() {
		val = $(this).val();
		$('.help-type').hide();
		
		if (val=='gallery') $('#help-gallery').show();
		if (val=='article') $('#help-article').show();
	});
	
	$('button.add').click(function() {
		type = $(this).attr('type');
		elt = $('.template').clone().removeClass('template').addClass(type);
		$(this).before(elt);
	});
});

function remove_link(elt) {
	parent = $(elt).parent().remove();
}

function submit_article() {
	var article_data = {};
	article_data['title'] = $('#title').val();
	article_data['author'] = $('#author').val();
	article_data['body'] = $('#body').val();
	article_data['type'] = $('#type').val();
	article_data['image_links'] = [];
	article_data['video_links'] = [];
	<% if (!(@id.empty?)) %>
		article_data['id'] = '<%=@id%>';
	<% end %>
	
	$('#images').find('div.image').each(function(ndx, elt) {
		link_data = {};
		link_data['url'] = $(elt).find('input[name=url]').val();
		link_data['description'] = $(elt).find('input[name=description]').val();
		article_data['image_links'].push(link_data);
	});
	
	$('#videos').find('div.video').each(function(ndx, elt) {
		link_data = [];
		link_data['url'] = $(elt).find('input[name=url]').val();
		link_data['description'] = $(elt).find('input[name=description]').val();
		article_data['video_links'].push(link_data);
	});
	
	$.post('/admin/save_article', {article_data:article_data}, function(response) {
		window.opener.location.reload();
		self.close();
	});
}
</script>