<div style="margin-bottom:15px;">
	<form method="POST" action="/admin/upload_riders" enctype="multipart/form-data">
		<label>Upload rider file:</label>
		<%= file_field 'upload', 'datafile' %></p>
		
		<input type="submit" value="Preview">
	</form>
	<hr />
	
	<a href="#" onclick="edit_rider(null);">+ Add new rider</a>
</div>

<% if (!@riders.empty?) %>
	<table class="riders">
		<tr>
			<th>ID</th>
			<th>Image</th>
			<th>Name</th>
			<th></th>
		</tr>
		
		<%@riders.each do |rider| %>
			<tr>
				<td><%=rider.id%></td>
				<td><img class="thumbnail" src="<%=rider.photo_url%>"></td>
				<td><%=rider.name%></td>
				<td>
					<a href="#" onclick="edit_rider('<%=rider.id%>')">Edit</a>
					<a href="#" onclick="delete_rider('<%=rider.id%>');">Remove</a>
				</td>
			</tr>
		<% end %>
	</table>
<% end %>

<script>
function edit_rider(id) {
	if (id==null)
		window.open('/admin/edit_rider', 'Add rider(s)', 'height=400,width=400');
	else window.open('/admin/edit_rider/'+id, 'Edit rider', 'height=400,width=400');
}

function delete_rider(id) {
	del_confirm = confirm('Delete rider?');
	if (!del_confirm) return;
	
	$.post('/admin/delete_rider', {id:id}, function(response) {
		if (response.success)
			window.location.reload();
		else alert(response.alert);
	});
}
</script>

<style>
.riders {
	border: 1px solid #C3C3C3;
	border-collapse: collapse;
}
	.riders th,
	.riders td {
		border: 1px solid #C3C3C3;
	}

.thumbnail {
	max-height: 65px;
	max-width: 43px;
}
</style>