<div style="margin-bottom:15px;">
	<form method="POST" action="/admin/upload_riders" enctype="multipart/form-data">
		<label>Upload rider file:</label>
		<%= file_field 'upload', 'datafile' %></p>
		
		<input type="submit" value="Preview">
	</form>
	<hr />
</div>

<% if (!@result_data.empty?) %>
	<label>Race name: </label><%=@race_name%></br>
	<label>Race description: </label><%=@race_description%></br>
	<label>Race image: </label><a href="<%=@race_image_url%>" target="_BLANK"><%=@race_image_url%></a></br></br>
	
	<label style="text-decoration:underline;">Stages</label></br>
	<% order = 1 %>
	<% @result_data.each do |result| %>
		<span style="font-weight:bold;">#<%=order%></span></br>
		<% (0..(@result_keys.count-1)).each do |ndx| %>
			<label><%=@result_keys[ndx]%>: </label><%=result[ndx]%></br>
		<% end %>
		<hr />
		<% order += 1 %>
	<% end %>
<% end %>

<button style="margin-top:15px;" onclick="submit_upload_season_races();">Submit</button>

<style>
label {
	font-weight: bold;
}
</style>

<script>
function submit_upload_season_races() {
	var upload_confirm = confirm('Add race? UPLOAD WILL NOT CHECK FOR DUPLICATE RACES OR STAGES.');
	if (!upload_confirm) return;
	
	var race_info = {};
	race_info['race_name'] = '<%=@race_name%>';
	race_info['race_description'] = '<%=@race_description%>';
	race_info['race_image_url'] = '<%=@race_image_url%>';
	race_info['stage_data'] = [];
	
	var stage_info = [];
	<% @result_data.each do |result| %>
		var stage_data = {};
		stage_data['stage_name'] = '<%=result[@result_keys.index('name')]%>';
		stage_data['stage_description'] = '<%=result[@result_keys.index('description')]%>';
		stage_data['stage_image_url'] = '<%=result[@result_keys.index('image_url')]%>';
		stage_data['stage_profile'] = '<%=result[@result_keys.index('profile')]%>';
		stage_data['stage_starts_on'] = '<%=result[@result_keys.index('starts_on')]%>';
		stage_data['stage_start_location'] = '<%=result[@result_keys.index('start_location')]%>';
		stage_data['stage_end_location'] = '<%=result[@result_keys.index('end_location')]%>';
		stage_data['stage_distance'] = '<%=result[@result_keys.index('distance_km')]%>';
		stage_info.push(stage_data);
	<% end %>
	race_info['stage_data'] = stage_info;
	
	$.post('/admin/save_season_races', {race_info:race_info}, function(response) {
		window.location.href = '/admin/manage_season_races';
	});
}
</script>