<div class="content">
	<% @invitations.each do |invitation| %>
		<%= render :partial=>'pages/partials/competition_invitations', :locals=>{:invitation=>invitation} %>
	<% end %>
	
	<div class="race-competitions">
		<div class="header">
			<div class="row collapse">
				<div class="large-8 small-7 columns">
					<div class="race-name bold">
						<div class="title"><%=@race.name%></div>
					</div>
				</div>
				<div class="large-4 small-5 columns">
					<div class="race-details">
						<div class="timer" style="display: block;">
						<% if (!@user_race_data[:race][:next_stage_name].nil?) %>
							<div class="title">
								<span class="bold"><%=@user_race_data[:race][:next_stage_name]%></span> <span class="hide-for-small"> STARTING</span> IN
							</div>
							<div class="countdown hide-for-small">
								<div class="col">
									<div class="value days">--</div>
									<div class="unit">DAYS</div>
								</div>
								
								<div class="col">
									<div class="value hours">--</div>
									<div class="unit">HOURS</div>
								</div>
								
								<div class="col">
									<div class="value minutes">--</div>
									<div class="unit">MINS</div>
								</div>
								<div style="clear:both;"></div>
							</div>
							<div class="countdown hide-for-medium-up">
								<div class="col">
									<span class="value days bold">--</span>
									<span class="unit">D</span>
								</div>
								
								<div class="col">
									<span class="value hours bold">--</span>
									<span class="unit">H</span>
								</div>
								
								<div class="col">
									<span class="value minutes bold">--</span>
									<span class="unit">M</span>
								</div>
								<div style="clear:both;"></div>
							</div>
						<% else %>
							<div class="completed"><span class="bold">Race</span> completed</div>
						<% end %>
						</div>
					</div>
				</div>
			</div>
			<div style="clear:both;"></div>
		</div>
		
		<table class="competitions">
			<tr>
				<td colspan="10" class="competition gray bold row">
					<div class="competition-name">
						Pools you've joined:
					</div>
				</td>
			</tr>
			<% if (@user_race_data[:global_results][:rank]>0) %>
				<tr class="data" onclick="location.href='/races/leaderboard/<%=@race.id%>?<%=@iframe_params%>'" style="cursor:pointer;">
					<td class="logo hide-for-small"><%=image_tag 'earth.png'%></td>
					<td class="rank bold row">
						<div class="text-center">
							<div class="value"><%=@user_race_data[:global_results][:rank]%></div><div class="postfix">th</div>
						</div>
					</td>
					<td class="competition bold row">
						<div class="competition-name">Sitewide</div>
					</td>
					<td class="gray"></td>
				</tr>
			<% end %>
			
			<% @user_race_data[:competition].each do |competition| %>
				<tr class="data" onclick="location.href='/competitions/<%=competition[:competition_id]%>?<%=@iframe_params%>'" style="cursor:pointer;">
					<td class="logo hide-for-small"><%=image_tag 'users.png'%></td>
					<td class="rank bold row">
						<div class="text-center">
							<div class="value"><%=competition[:rank]%></div><div class="postfix">th</div>
						</div>
					</td>
					<td class="competition bold row">
						<div class="competition-name"><%=competition[:competition_name]%></div>
						<div class="primary-container">
							<% if (competition[:is_primary]) %>
								<div class="btn yellow primary-competition">
									P<span class="hide-for-small">rimary</span>
								</div>
							<% else %>
								<div class="btn yellow primary-competition" style="display:none;">
									P<span class="hide-for-small">rimary</span>
								</div>
							<% end %>
							<div class="hide-for-small">
							<% if (!@user_race_data[:race][:has_started]) %>
								<% if (competition[:is_primary]) %>
									<%= image_tag 'ajax-loader.gif', {:class=>'loading', :style=>'float:right; margin-top:10px;'} %>
									<div class="btn black set-primary-competition" onclick="set_primary(<%=competition[:competition_id]%>, this, event);" style="display:none;">
										Set Primary
									</div>
								<% else %>
									<%= image_tag 'ajax-loader.gif', {:class=>'loading', :style=>'float:right; margin-top:10px;'} %>
									<div class="btn black set-primary-competition" onclick="set_primary(<%=competition[:competition_id]%>, this, event);">Set Primary</div>
								<% end %>
							<% end %>
							</div>
						</div>
					</td>
					<% if(competition[:status] == STATUS[:DELETED] ) %>
						<td class="gray"></td>
					<% else %>
						<% if(@user_race_data[:next_rider]) %>
							<td class="tip bold row" colspan="2">
								<span class="hide-for-small">You've tipped</span> <% @user_race_data[:next_rider] %>
							</td>
						<% else %>
							<td class="empty-tip italic bold row">
								<span class="hide-for-small">You have not tipped any rider</span>
								<span class="hide-for-medium-up">No tip</span></td>
							<td class="empty-tip-button hide-for-small"><%=image_tag 'add-black.png'%></td>
						<% end %>
					<% end %>
				</tr>
			<% end %>
		</table>

		<div class="competitions-box blue hide-for-small">
			<div class="title bold">MORE POOLS</div>	
			<%=render :partial=>'competitions/partials/new_competition', :locals=>{:race=>@race} if (!@user_race_data[:race][:next_stage_name].nil?)%>			
			
			<% @user_race_data[:more_competitions].each do |competition| %>
				<a href="/competitions/<%=competition[:competition_id]%>?<%=@iframe_params%>">
					<div class="competition grayblack">
						<div class="name bold"><%=competition[:competition_name]%></div>
						<div class="stats"><%=competition[:num_participants]%> tippers joined</div>
						<div class="btn yellow" style="float:none; text-align:center;">View details</div>
					</div>
				</a>
			<% end %>
			<div style="clear:both;"></div>
		</div>
	</div>
</div>
<script>
$(document).ready(function(event) {
	new CountdownTimer('div.countdown', <%=@user_race_data[:race][:next_stage_remaining]%>);
});
</script>