<div class="content">
	<div id="race-information">
		<div class="race-competitions">
			<div class="header">
				<div class="race-name bold">
					<div class="title"><%=@race.name%></div>
				</div>
				
				<div class="race-header">
					<div class="timer race_<%=@race.id%>" style="margin-top:-20px;">
						<% if (@next_stage_data[:next_stage_remaining] > 0) %>
							<div class="title">
								<span class="bold"><%=@next_stage_data[:next_stage_name]%></span> STARTING IN
							</div>
							<div class="countdown">
								<div class="col">
									<div class="value days">--</div>
									<div class="unit">DAYS</div>
								</div>
								
								<div class="col">
									<div class="value hours">--</div>
									<div class="unit">HOURS</div>
								</div>
								
								<div class="col">
									<div class="value minutes">--</div>
									<div class="unit">MINS</div>
								</div>
								<div style="clear:both;"></div>
							</div>
							<script>
								$(document).ready(function() {
									new CountdownTimer($('#race-information div.timer.race_<%=@race.id%>'), <%=@next_stage_data[:next_stage_remaining]%>);
								});
							</script>
						<% else %>
							<div class="completed"><span class="bold">Race</span> completed</div>
						<% end %>
					</div>
					<div style="clear:both;"></div>
				</div>
				<div style="clear:both;"></div>
			</div>
			
			<div class="race-stats blue stacked-cols">
				<div class="col big bold">
					<%=@race[:first_stage].starts_on.day%>
				</div>
				
				<div class="col bold stacked" style="margin-right:10px;">
					<%=Date::MONTHNAMES[@race[:first_stage].starts_on.month]%></br><%=@race[:first_stage].starts_on.year%>
				</div>
				
				<div class="col big bold">
					-
				</div>
				
				<div class="col big bold">
					<%=@race[:last_stage].starts_on.day%>
				</div>
				
				<div class="col bold stacked">
					<%=Date::MONTHNAMES[@race[:last_stage].starts_on.month]%></br><%=@race[:last_stage].starts_on.year%>
				</div>
				
				<div class="col big bold">
					<%=@stages.count%>
				</div>
				
				<div class="col bold stacked">
					TOTAL</br>STAGES
				</div>
				
				<div class="col big bold">
					<%=@num_riders%>
				</div>
				
				<div class="col bold stacked">
					TOTAL</br>RIDERS
				</div>
				
				<div style="clear:both;"></div>
			</div>
			
			<div class="gray italic race-description">
				<p><%=@race[:description]%></p>
			</div>
			
			<table class="data blue tipping tablesorter" style="margin-top:30px;">
				<thead style="text-align:left;">
					<th>Stages</th>
					<th>Type</th>
					<th>Distance</th>
					<th colspan="2">Location</th>
					<th>Date</th>
				</thead>
				
				<tbody>
					<% @stages.each do |stage| %>
						<tr class="tipping">
							<td class="blue"><%=stage.name%></td>
							<td class="gray italic">Individual time trial</td>
							<td class="gray2 italic"><span class="bold"><%=stage.distance_km%></span> Kilometers</td>
							<td class="gray italic">Starts at <span class="bold"><%=stage.start_location%></span></td>
							<td class="gray italic">Ends at <span class="bold"><%=stage.end_location%></span></td>
							<td class="gray2">
								<span class="bold"><%=stage.starts_on.day%></span> 
								<span><%=Date::MONTHNAMES[stage.starts_on.month]%></span>, 
								<span><%=stage.starts_on.year%></span>
							</td>
						</tr>
					<% end %>
				</tbody>
			</table>
			
			<div class="race-teams" style="margin-top:40px;">
				<div class="title black">
					Riders
				</div>
				
				<div class="teams">
					<% @riders.each do |rider_data| %>
						<div class="team">
							<div class="bar"></div>
							<div class="team-name bold"><%=rider_data[:team_name]%></div>
							<% rider_data[:riders].each do |rider| %>
								<div class="rider italic"><%=rider[:rider_number]%>. <%=rider[:rider_name]%></div>
							<% end %>
						</div>
					<% end %>
				</div>
			</div>
		</div>
	</div>
</div>