<div id="profile-header">
	<div class="row">
		<div class="large-12 columns hide-for-small">
			<img class="avatar" src="<%=@user_img%>">
			<div class="data">
				<div class="name"><%=@user[:display_name]%></div>
				<div class="italic about-me"><%=@user[:about_me]%></div>
				<a href="/users/settings"><div class="btn red"><%=image_tag 'pencil-white.png'%>Edit Profile</div></a>
			</div>
			<div style="clear:both;"></div>
		</div>
		<div class="large-12 columns hide-for-medium-up">
			<img class="avatar" src="<%=@user_img%>">
			<div class="data">
				<a href="/users/settings"><div class="btn red"><%=image_tag 'pencil-white.png'%>Edit Profile</div></a>
			</div>
		</div>
	</div>
</div>
