<div class="portfolio-single container">
	<%= render :partial=>'/app_partials/portfolio_header', :locals=>{} %>
	
	<div class="row">
		<!-- TITLE - column 8/12 -->
		<div class="span9 portfolio-field portfolio-title">
			<h2><%=@stage.race.name%></h2>
		</div>
		<!-- TITLE - column 8/12 -->
		
		
		<!-- PORTFOLIO-NAV - column 4/12 -->
		<div class="span3 portfolio-field portfolio-nav">
			<a class="icon button ajax" href="#/races/show/<%=@stage.race_id%>" title="Races">5</a>
			<a class="icon button ajax" href="/#" title="Riders">K</a>
			<a class="icon button back" href="/#/home" title="Close">Â</a>
		</div>
		<!-- PORTFOLIO-NAV - column 4/12 -->
		
		
		<div class="span9 portfolio-field portfolio-nav" style="text-align:left;">
			<h4><%=@stage.name%></h4>
			<p><%=@stage.description%></p>
			
			<% if (!@results.empty?) %>
				<h4>Stage results</h4>
				<%= render :partial=>'/app_partials/results_table', :locals=>{:results=>@results, :title=>''} %>
			<% end %>
			
			<h4>Stages</h4>
			<% if (@stages.length < 1) %>
				<!-- Ignore this part -->
				<ul class="bxslider">
					<% @stages.each do |stage| %>
						<li><img src="<%=(stage.image_url.nil?)?DEFAULT[:STAGE_IMG]:stage.image_url%>" /></li>
					<% end %>
				</ul>
			<% else %>
				<div id="portfolio-items" class="portfolio-items stage_data_container" style="position: relative; overflow: hidden; height: auto;">
				<% @stages.each do |stage| %>
					<div class="item" style="width:140px;">
						<div class="media-box">
							<img src="<%=(stage.image_url.nil?)?DEFAULT[:STAGE_IMG]:stage.image_url%>" alt="<%=stage.name%>" style="width:140px; height:100px;">
							<div class="mask" race_id="<%=stage.id%>">
								<h3 class="title" style="margin-top:12%;">View Details</h3>
								<a href="/#/stages/<%=stage.id%>" class="ico show-details supress" onclick=""></a>
							</div>
						</div>
						<h3 class="project-title" style="margin-top:-40px;"><%=stage.name%></h3>
					</div>
				<% end %>
				</div>
			<% end %>
		</div>
		
		<div class="span3 portfolio-field portfolio-nav" style="text-align:left;">
			<div class="history-group" style="margin-top:45px;">
				<div class="history-unit">
					<h4 style="font-weight:bold;">Profile</h4>
					<p><%=@stage.profile%></p>
					
					<h4 style="font-weight:bold;">Start Location</h4>
					<p><%=@stage.start_location%></p>
					
					<h4 style="font-weight:bold;">End Location</h4>
					<p><%=@stage.end_location%></p>
					
					<h4 style="font-weight:bold;">Distance</h4>
					<p><%=@stage.distance_km%> km</p>
					
					<h4 style="font-weight:bold;">Starts on</h4>
					<p><%=@stage.starts_on%></p>
				</div>
			</div>
		</div>
	</div>
</div>

<script>
init_slider();
</script>