<%=
#Display stage/result leaderboard result data.
#Params: 	leaderboard - Leaderboard results table from Competitions controller
#			group - stage/race (Are these results for a race or stage?)
%>

<table class="leaderboard_table">
	<thead>
		<tr>
			<th align="left">Rank</th>
			<th align="left">Name</th>
			<th align="left">Time</th>
			<th align="left">Gap</th>
			<th align="left">KOM</th>
			<th align="left">Sprint</th>
			<% if (group=='stage') %>
				<th align="left">Rider</th>
			<% elsif (group=='race') %>
				<th align="left"></th>
			<% end %>
		</tr>
	</thead>
	
	<% base_time = nil %>
	<% ndx = 1 %>
	<tbody>	
		<% leaderboard.each do |uid, data| %>
			<% 
			#Formatted gap
			if (!base_time.nil?)
				if (data[:time]-base_time >= 86400)
					gap = Time.at(data[:time]-base_time).gmtime.strftime('%-d day(s), %R:%S') if (!base_time.nil?)
				else
					gap = Time.at(data[:time]-base_time).gmtime.strftime('%R:%S') if (!base_time.nil?)
				end
			end 
			
			#Formatted time
			if (!data[:time].nil?)
				if (data[:time] >= 86400)
					formatted_time = Time.at(data[:time]).gmtime.strftime('%-d day(s), %R:%S')
				else
					formatted_time = Time.at(data[:time]).gmtime.strftime('%R:%S')
				end
			else
				formatted_time = 'TBA'
			end
			%>
			<tr>
				<td align="left"><%=ndx%></td>
				<td align="left"><a href="/profile/<%=data[:user_id]%>" target="_blank"><%=data[:username]%></a></td>
				<td align="left"><%=formatted_time.to_s%></td>
				<td align="left"><%=(base_time.nil?)?'':'+ '+gap.to_s%></td>
				<td align="left"><%=(data[:time].nil?)?'':data[:kom].to_i%></td>
				<td align="left"><%=(data[:time].nil?)?'':data[:sprint].to_i%></td>
				<% if (group=='stage') %>
					<td align="left"><%=data[:tip].last[:name]%></td>
				<% elsif (group=='race') %>
					<td align="left">
						<% if (!data[:time].nil?) %>
							<a href="#/competitions/show_tips/<%=competition_id%>?uid=<%=data[:user_id]%>"><button style="padding-top:3px; padding-bottom:6px;">View tips</button></a>
						<% end %>
					</td>
				<% end %>
			</tr>
			<% base_time ||= data[:time] %>
			<% ndx += 1 %>
		<% end %>
	</tbody>
</table>