<div id="menu-container"><!-- start #menu-container -->        
	<div class="menu-content-holder"><!-- start .menu-content-holder -->
		<div class="menu-background"></div>
		<div id="template-logo" class="template-logo"></div> 
		<div id="template-menu" class="template-menu" data-current-module-type="full_width_gallery" data-side="none" data-href="#index">
		
			<!-- start #template-menu -->
			
			<!-- Home -->
			<!--
			<div class="menu-option-holder" data-module-type="home2" data-side="height">
				<div id="menu-option-background" class="menu-option-background"> </div>
				<div id="menu-option-text" class="menu-option-text"><a href="#home" data-path-href="pages/">HOME</a></div>
			</div>
			-->
			
			<!-- Races -->
			<!--
			<div class="menu-option-holder">
				<div id="menu-option-background" class="menu-option-background"> </div>
				<div id="menu-option-text" class="menu-option-text">
					<a href="#">RACES</a>
					<div class="menu-option-sign">+</div>
				</div>                
				<div class="sub-menu-holder">
					<% @sidebar_races.each do |race| %>
						<div class="sub-menu-option-holder" data-module-type="text_page" data-side="none">
							<div class="sub-menu-option-background"></div>
							<div class="sub-menu-option-text"><a href="#<%=race.id%>" data-path-href="races/"><%=race.name%></a></div>
						</div>
					<% end %>
					<div class="sub-menu-option-holder" data-module-type="page_columns" data-side="none">
						<div class="sub-menu-option-background"></div>
						<div class="sub-menu-option-text"><a href="#index" data-path-href="races/">See all...</a></div>
					</div>
				</div>         
			</div>
			-->
			
			<!-- Competitions -->
			<div class="menu-option-holder">
				<div id="menu-option-background" class="menu-option-background"> </div>
				<div id="menu-option-text" class="menu-option-text" onclick="load_page('#competitions/index');"><a href="#">COMPETITIONS</a><div class="menu-option-sign">+</div></div>
				<div class="sub-menu-holder">
					<% @sidebar_competitions.each do |competition| %>
						<div class="sub-menu-option-holder" data-module-type="text_page" data-side="none">
							<div class="sub-menu-option-background"></div>
							<div class="sub-menu-option-text"><a href="#<%=competition.id%>" data-path-href="competitions/"><%=competition.name%></a></div>
						</div>
					<% end %>
					
					<div class="sub-menu-option-holder" data-module-type="page_columns" data-side="custom">
						<div class="sub-menu-option-background"> </div>
						<div class="sub-menu-option-text"><a href="#index" data-path-href="competitions/">See all...</a></div>
					</div>
				</div>
			</div>               
			
			<!-- Articles -->
			<div class="menu-option-holder" data-module-type="text_page" data-side="none">
				<div id="menu-option-background" class="menu-option-background"> </div>
				<div id="menu-option-text" class="menu-option-text"><a href="#articles" data-path-href="articles/">ARTICLES</a></div>
			</div>  
			
			<!-- Profile -->
			<% if (!@user.nil?) %>
				<div class="menu-option-holder">
					<div id="menu-option-background" class="menu-option-background"> </div>
					<div id="menu-option-text" class="menu-option-text">
						<a href="#">PROFILE</a>
						<div class="menu-option-sign">+</div>
					</div>
					<div class="sub-menu-holder">
						<div class="sub-menu-option-holder" data-module-type="text_page" data-side="none">
							<div class="sub-menu-option-background"></div>
							<div class="sub-menu-option-text"><a href="#settings" data-path-href="users/">Edit Settings</a></div>
						</div>   
					</div>
				</div>
			<% end %>
			
			<!-- Contact us -->
			<div class="menu-option-holder" data-module-type="text_page" data-side="none">
				<div id="menu-option-background" class="menu-option-background"> </div>
				<div id="menu-option-text" class="menu-option-text"><a href="#contact_us" data-path-href="pages/">CONTACT US</a></div>
			</div>

			<!-- Sign in -->
			<div class="menu-option-holder" data-module-type="text_page" data-side="none">
				<div id="menu-option-background" class="menu-option-background"> </div>
				<% if (@user.nil?) %>
					<div id="menu-option-text" class="menu-option-text"><a href="login" data-path-href="pages/">SIGN IN</a></div>
				<% else %>
					<div id="menu-option-text" class="menu-option-text"><a href="#logout" data-path-href="users/" onclick="logout();">SIGN OUT</a></div>
				<% end %>
			</div> 
			
		</div><!-- end #template-menu -->  
		
		
		<div id="template-smpartphone-menu">
			<select>
				<option value="#">Navigate to...</option>
				<!--
				<option value="#pages/home"> HOME </option>
				-->
				
				<!--
				<option value="#"> RACES +</option>
					<% @sidebar_races.each do |race| %>
						<option value="#races/<%=race.id%>">  - <%=race.name%></option>
					<% end %>
					<option value="#races/index">  - See all</option>
				-->
					
				<option value="#"> COMPETITIONS +</option>
					<% @sidebar_competitions.each do |competition| %>
						<option value="#competitions/<%=competition.id%>">  - <%=competition.name%></option>
					<% end %>
					<option value="#competitions/index">  - See all</option>
					
				<option value="#articles/index"> ARTICLES</option>
				
				<% if (!@user.nil?) %>
					<option value="#"> PROFILE</option>
						<option value="#users/settings">  - Edit settings</option>
				<% end %>
					
				<option value="#contact_us"> CONTACT US</option>
				
				<% if (@user.nil?) %>
					<option value="#pages/login"> SIGN IN</option>
				<% else %>
					<option value="#pages/login" onclick="logout();"> SIGN OUT</option>
				<% end %>
			</select>
		</div>
		
		<footer>    
			<div id="footer-social">            
				<div id="footer-social-holder">
					<ul class="social" url="http://racetipper.herokuapp.com" name="Racetipper">
						<li class="twitter" onclick="share_tw(this);"></li>
						<li class="facebook" onclick="share_fb(this);"></li>
						<li class="google" onclick="share_googlep(this);"></li>
						<!--
						<li class="dribbble"><a href="http://www.dribbble.com" target="_blank"></a></li>
						<li class="flickr"><a href="http://www.flickr.com" target="_blank"></a></li>
						-->
					</ul>
				</div>                   
			</div>    
			<div id="footer-text"><!-- start #footer-text -->
				<div id="footer-copyright"><a href="#">&copy;2013 RACETIPPER.COM</a></div>           
			</div><!-- end #footer -->    
		</footer> 
	</div><!-- end .menu-content-holder-->
	
	<div id="menu-hider">
		<div id="menu-hider-background"></div>
		<div id="menu-hider-icon"></div>
	</div>
</div><!-- end #menu-container -->