<%
#Display stage/result result data.
#Params: 	results - Results table from Result.get_results()
#			title - (Optional) - Title
%>
<% if (!title.nil? && !title.empty?) %>
	<h3>Stage results</h3>
<% end %>

<table class="leaderboard_table">
	<thead>
		<tr>
			<th align="left">Rank</th>
			<th align="left">Name</th>
			<th align="left">Time</th>
			<th align="left">Gap</th>
			<th align="left">KOM</th>
			<th align="left">Sprint</th>
		</tr>
	</thead>
	
	<tbody>
		<% ndx = 1 %>
		<% results.each do |rider_id, result| %>
			<tr class="data">
				<td align="left"><%=ndx%></td>
				<td align="left"><%=result[:rider_name]%></td>
				<% if (result[:disqualified].nil?) %>
					<td align="left"><%=result[:time_formatted]%></td>
					<td align="left"><%=result[:gap_formatted]%></td>
					<td align="left"><%=result[:kom_points]%></td>
					<td align="left"><%=result[:sprint_points]%></td>
				<% else %>
					<td align="left"><%=result[:disqualified]%></td>
					<td align="left"><%=result[:disqualified]%></td>
					<td align="left"><%=result[:disqualified]%></td>
					<td align="left"><%=result[:disqualified]%></td>
				<% end %>
			</tr>
			<% ndx += 1 %>
		<% end %>
	</tbody>
</table>