<div id="competition-header" class="hide-for-small">
	<div class="row">
		<div class="large-6 columns">
			<div class="col general">
				<div class="logo">
					<%=image_tag 'users.png'%>
				</div>
				<div class="title-1 bold">
					<%=@race.name%>
				</div>
				<div class="title-2 bold">
					<%=@competition.name%>
				</div>

				<% if (!@hide_action_buttons) %>
					<div class="action-buttons">
					<% if (@participating) %>
						<a href="/competitions/<%=@competition.id%>?<%=@iframe_params%>">
							<div class="btn black">
								<%=image_tag 'eye.png'%>
								<span>Overview</span>
							</div>
						</a>
						
						<div class="btn yellow" style="margin-bottom: 10px;" onclick="load_other_information(<%=@competition.id%>)">
							<%=image_tag 'more-options.png'%>
							<span>Other Information</span>
						</div>
						
						<% if (!@user.nil? && @user.id==@creator.id) %>
							<div style="display:none;">
								<%=render :partial=>'competitions/partials/new_competition', :locals=>{:race=>@race} %>
							</div>
							
							<div class="btn yellow" onclick="edit_competition('<%=@race.id%>', <%=@competition.id%>, '<%=@race.name.tr("'", '`')%>');">
								<%=image_tag 'pencil.png'%>
								<span>Edit Pool</span>
							</div>
						<% end %>
					<% elsif (!@user.nil?) %>
						<div class="btn yellow" onclick="join_competition(<%=@competition.id%>, '<%=@code%>', this);">
							<%=image_tag 'pencil.png'%>
							<span>Join Pool</span>
						</div>
					<% else %>
						<div class="btn gray">
							<a href="/"><span>Login to tip</span></a>
						</div>
					<% end %>
					</div>
				<% end %>
				<div style="clear:both;"></div>
			</div>
		</div>
		<div class="large-6 columns">
			<div class="col leaderboard">
				<div class="row">
					<div class="large-6 columns">
						<div class="yellow-shirt">
							<%=image_tag 'shirt-yellow.png'%>
						</div>
						
						<div class="best-time">
							<div class="title bold">GC</div>
							<% count = 5 %>
							<% for i in 0..(count-1) %>
								<% if (!@leaderboard.nil? && !@leaderboard[i].nil?) %>
									<div><%= i+1 %>. <%= (@leaderboard[i].nil?) ? '--' : @leaderboard[i][:username]%></div>
								<% end %>
							<% end %>
						</div>
					</div>
					<div class="large-6 columns">
						<div class="other-shirts">
							<div class="polka">
								<%=image_tag 'shirt-polka.png'%>
							</div>
							
							<div class="green">
								<%=image_tag 'shirt-green.png'%>
							</div>
						</div>
						
						<div class="other-times">
							<div class="kom">
								<div class="title bold">KOM</div>
								<% count = [2, @top_koms.size].min %>
								<% for i in 0..(count-1) %>
									<div><%=i+1%>. <%=(@top_koms[i].nil?)? '--' :@top_koms[i][:username]%></div>
								<% end %>
							</div>
							
							<div class="sprint">
								<div class="title bold">Sprint</div>
								<% count = [2, @top_sprints.size].min %>
								<% for i in 0..(count-1) %>
									<div><%=i+1%>. <%=(@top_sprints[i].nil?)? '--' :@top_sprints[i][:username]%></div>
								<% end %>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>