<div id="competition-leaderboard">
	<table class="selector">
		<thead>
			<th class="choice blue bold" onclick="show_tipping_leaderboard_from_competition();">TIPPING LEADERBOARD</th>
			<th class="choice grayblack bold" onclick="show_race_leaderboard_from_competition('<%=@race.id%>');">RACE LEADERBOARD <%=image_tag 'ajax-spinner.gif', {:class=>'loading'}%></th>
		</thead>
	</div>
	
	<table class="data blue tipping tablesorter">
		<thead>
			<th style="width:5%;">No.</th>
			<th style="width:45%">Name</th>
			<th>Time</th>
			<th>Sprint</th>
			<th>KOM</th>
		</thead>
		
		<tbody>
			<% ndx = 0 %>
			<% @leaderboard.each do |entry| %>
				<% ndx += 1 %>
				<tr class="tipping <%='black' if (!@user.nil? && @user.id==entry[:user_id])%>">
					<td><%=ndx%></td>
					<td class="gray"><%=entry[:username]%></td>
					<td class="gray"><%=entry[:formatted_time]%></td>
					<td class="gray"><%=entry[:kom]%></td>
					<td class="gray"><%=entry[:sprint]%></td>
				</tr>
			<% end %>
		</tbody>
	</table>
</div>

<script>
$(document).ready(function() {
	 $("table.data").tablesorter(); 
});
</script>

<script id="competition-race-result-template" type="text/x-handlebars-template">
	<tr class="race">
		<td>{{ndx}}</td>
		<td class="gray">{{rider_name}}</td>
		{{#if disqualified}}
			<td class="gray">{{disqualified}}</td>
			<td class="gray">--</td>
			<td class="gray">--</td>
		{{else}}
			<td class="gray">{{time_formatted}}</td>
			<td class="gray">{{sprint_points}}</td>
			<td class="gray">{{kom_points}}</td>
		{{/if}}
	</tr>
</script>
