<div id="left-navigator">
	<table>
		<thead></thead>
		<tbody>
			<% @left_nav_data.each do |nav_data| %>
				<% open = !nav_data[:time_remaining].nil? %>
				<% if (nav_data[:participation]=='OK') %>
					<tr style="cursor:pointer;" onclick="load_stage_info('<%=nav_data[:stage_id]%>', '<%=@competition.id%>');" class="<%=(open)?'gray':'darkgray'%>">
				<% else %>
					<tr class="<%=(open)?'gray':'darkgray'%>">
				<% end %>
					<td class="<%=(nav_data[:time_remaining].nil?)?'':'yellow'%>"><%=nav_data[:stage_name]%></td>
					<td>
						<%=image_tag 'type-flat.jpg', {:class=>'stage-type'} if (nav_data[:stage_type].upcase=='F') %>
						<%=image_tag 'type-medium-mountain.png', {:class=>'stage-type'} if (nav_data[:stage_type].upcase=='MM') %>
						<%=image_tag 'type-high-mountain.png', {:class=>'stage-type'} if (nav_data[:stage_type].upcase=='HM') %>
						<%=image_tag 'type-mountaintop-finish.png', {:class=>'stage-type'} if (nav_data[:stage_type].upcase=='MF') %>
						<%=image_tag 'type-individual-time-trial.png', {:class=>'stage-type'} if (nav_data[:stage_type].upcase=='ITT') %>
						<%=image_tag 'type-team-time-trial.png', {:class=>'stage-type'} if (nav_data[:stage_type].upcase=='TTT') %>
					</td>
					<% if (nav_data[:participation]!='OK') %>
						<% if (nav_data[:participation]=='NO_LOGIN') %>
							<td class="italic" colspan="2">Login to tip.</td>
						<% elsif (nav_data[:participation]=='NO_PARTICIPATION') %>
							<td class="italic" colspan="2">Join to tip.</td>
						<% end %>
					<% elsif (nav_data[:tip].nil?) %>
						<% if (nav_data[:time_remaining]).nil? %>
							<td colspan="2"></td>
						<% else %>
							<td class="yellow">
								<div>
									<%=nav_data[:time_remaining]%>
								</div>
							</td>
							<td class="red" style="width:20px;"><%=image_tag 'add-black.png', {:class=>'add-tip'}%></td>
						<% end %>
					<% else %>
						<% if (nav_data[:time_remaining]).nil? %>
							<td colspan="2"><%=nav_data[:tip]%></td>
						<% else %>
							<td><%=nav_data[:tip]%></td>
							<td><%=image_tag 'pencil.png'%></td>
						<% end %>
					<% end %>
				</tr>
			<% end %>
		</tbody>
	</table>
</div>