<div id="left-navigator">
	<table>
		<thead>
			<tr class="hide-for-small">
				<td colspan="4" class="gray">
					<a href="/">
						<div class="back-button">
							<%=image_tag 'back.png' %> <span>Back to Race List</span>
						</div>
					</a>
				</td>
			</tr>
		</thead>
		<tbody>
			<% @left_nav_data.each do |nav_data| %>
				<% open = !nav_data[:time_remaining].nil? %>
				<% if (nav_data[:participation]=='OK') %>
					<tr onclick="load_stage_info('<%=nav_data[:stage_id]%>', '<%=@competition.id%>');" class="<%=(open) ? 'gray' : 'darkgray'%> <%=nav_data[:stage_id]%>">
				<% else %>
					<tr class="<%=(open) ? 'gray' : 'darkgray'%>">
				<% end %>
					<td class="stage-no <%=(nav_data[:time_remaining].nil?) ? '' : 'yellow'%>"><%=nav_data[:stage_name]%></td>
					<td class="track-type">
						<%=image_tag 'type-flat.jpg', {:class=>'stage-type'} if (nav_data[:stage_type].upcase=='F') %>
						<%=image_tag 'type-medium-mountain.png', {:class=>'stage-type'} if (nav_data[:stage_type].upcase=='MM') %>
						<%=image_tag 'type-high-mountain.png', {:class=>'stage-type'} if (nav_data[:stage_type].upcase=='HM') %>
						<%=image_tag 'type-mountaintop-finish.png', {:class=>'stage-type'} if (nav_data[:stage_type].upcase=='MF') %>
						<%=image_tag 'type-individual-time-trial.png', {:class=>'stage-type'} if (nav_data[:stage_type].upcase=='ITT') %>
						<%=image_tag 'type-team-time-trial.png', {:class=>'stage-type'} if (nav_data[:stage_type].upcase=='TTT') %>
					</td>
					<% if (nav_data[:participation]!='OK') %>
						<% if (nav_data[:participation]=='NO_LOGIN') %>
							<td class="italic" colspan="2">Login to tip.</td>
						<% elsif (nav_data[:participation]=='NO_PARTICIPATION') %>
							<td class="italic" colspan="2">Join to tip.</td>
						<% end %>
					<% elsif (nav_data[:tip].nil?) %>
						<% if (nav_data[:time_remaining]).nil? %>
							<td colspan="2"></td>
						<% else %>
							<td class="yellow name-td">
								<div>
									<span class="selected-rider-name <%=nav_data[:stage_id]%>"><%=nav_data[:time_remaining]%></span>
								</div>
							</td>
							<td class="red" style="width:20px;"><%=image_tag 'add-black.png', {:class=>'add-tip'}%></td>
						<% end %>
					<% else %>
						<% if (nav_data[:time_remaining]).nil? %>
							<td colspan="2"><span class="selected-rider-name <%=nav_data[:stage_id]%>"><%=nav_data[:tip]%></span></td>
						<% else %>
							<td><span class="selected-rider-name <%=nav_data[:stage_id]%>"><%=nav_data[:tip]%></span></td>
							<td><%=image_tag 'pencil.png'%></td>
						<% end %>
					<% end %>
				</tr>
			<% end %>
		</tbody>
	</table>
</div>

<script>
	/* ZURB Responsive Table | MIT License */
	$(document).ready(function() {
		var switched = false;
		var updateTables = function() {
			if (($(window).width() < 767) && !switched ){
				switched = true;
				$("table.responsive").each(function(i, element) {
					splitTable($(element));
				});
				return true;
			}
			else if (switched && ($(window).width() > 767)) {
				switched = false;
				$("table.responsive").each(function(i, element) {
					unsplitTable($(element));
				});
			}
		};
	   
		$(window).load(updateTables);
		$(window).on("redraw",function(){switched=false;updateTables();}); // An event to listen for
		$(window).on("resize", updateTables);
	   
		function splitTable(original)
		{
			original.wrap("<div class='table-wrapper' />");
			
			var copy = original.clone();
			copy.find("td:not(:nth-child(-n+2)), th:not(:nth-child(-n+2))").css("display", "none");
			copy.removeClass("responsive");
			
			original.closest(".table-wrapper").append(copy);
			copy.wrap("<div class='pinned' />");
			original.wrap("<div class='scrollable' />");

			setCellHeights(original, copy);
		}
		
		function unsplitTable(original) {
			original.closest(".table-wrapper").find(".pinned").remove();
			original.unwrap();
			original.unwrap();
		}

		function setCellHeights(original, copy) {
			var tr = original.find('tr'),
				tr_copy = copy.find('tr'),
				heights = [];

			tr.each(function (index) {
				var self = $(this),
					tx = self.find('th, td');

				tx.each(function () {
					var height = $(this).outerHeight(true);
					heights[index] = heights[index] || 0;
					if (height > heights[index]) heights[index] = height;
				});

			});

			tr_copy.each(function (index) {
				$(this).height(heights[index]);
			});
		}

	/* ZURB Slide-in Side Bar | MIT License */
		// "Arrow" button on click
		$('#sidebarButton').on('click', function (e) {
			e.preventDefault();
			$('body').toggleClass('active');
			$('#sidebarButton').toggleClass('active');
		});
		// Slide-out the sidebar after selecting stage
		$('#left-navigator').on('click', function (e) {
			$('body').toggleClass('active');
			$('#sidebarButton').toggleClass('active');
			$('html, body').animate( {
				scrollTop: $("#sidebarButton").offset().top
			}, 500);
		});
	});
</script>