<a class="new-competition" onclick="edit_competition('<%=race.id%>', 0, '<%=race.name.tr("'", '`')%>');">
	<div class="competition new yellow">
		<div class="name">+</div>
		<div class="btn grayblack" style="float:none; text-align:center;">Create Pool</div>
	</div>
</a>

<div id="new-competition-created-container" style="display:none;"></div>

<script id="new-competition-created-template" type="text/x-handlebars-template">
	<div id="new-competition-created">
		<h1>Thank you for creating {{this.name}}.</h1>

		<p>Share the below link with your mates so they can join the pool. We have also sent you an email containing the link.</p>
		<p class="italic">{{this.link}}</p>
	</div>
</script>

<script id="new-competition-fancybox-template" type="text/x-handlebars-template">
	<div id="new-competition-fancybox" class="gray">
		<input class="competition-id" race-id="" type="hidden">
		<input class="race-id" race-id="" type="hidden">
		
		<div class="header bold grayblack">
			<div class="col-left">CREATE A POOL</div>
			<div class="col-right race-name"></div>
			<div style="clear:both;"></div>
		</div>
		
		<div class="field-names blue">
			<div>Title</div>
			<div style="padding-bottom: 35px;">Invite</div>
			<% if @scope == COMPETITION_SCOPE[:SITE] or @user.is_admin %>
				<div>Privacy</div>
			<% end %>
			<div style="padding-bottom:67px;">Description</div>
		</div>
		
		<div class="field-values gray">
			<div><input type="text" class="competition-name"></div>
			<div><input type="text" class="invitations" placeholder="Optional, comma separated email addresses">
			<span style="margin: 7px 0; display: inline-block;">We will email you a link to share with other participants</span>
			</div>
			<div>
				<% if(@user.is_admin) %>
					<input id="privacy-public" type="radio" name="privacy" value="public" checked><label for="privacy-public">Public </label>
					<input id="privacy-private" type="radio" value="private" style="margin-left:30px;" name="privacy"><label for="privacy-private">Private</label>
				<% else %>
					<% if @scope == COMPETITION_SCOPE[:SITE] %>
						<input id="privacy-private" class="hide" type="radio" value="private" style="margin-left:30px;" name="privacy" checked="checked">
						<label for="privacy-private">Private</label>
					<% end %>
				<% end %>
			</div>
			<div style="margin-top:10px;"><textarea class="competition-description" style="height:70px;"></textarea></div>
		</div>
		
		<div style="clear:both;"></div>
		
		<div class="footer bold grayblack">
			<div class="loading">
				<%=image_tag 'ajax-spinner.gif'%>
			</div>
			<div class="success" style="color:lightgreen;">
				<%=image_tag 'tick.png', {:style=>'margin-right:20px;'}%> Competition saved.
			</div>
			<div class="btn yellow" onclick="save_competition();">Submit</div>
			<div style="clear:both;"></div>
		</div>
		
		<div style="clear:both;"></div>
	</div>
</script>

<script>
$(document).ready(function() {
	if ($('#new-competition-fancybox').length==0) {
		var source = $('#new-competition-fancybox-template').html();
		var template = Handlebars.compile(source);
		var html = template();
		$('a.new-competition').first().after(html);
	}
});

function edit_competition(race_id, competition_id, race_name) {
	$.get('/competitions/get_competition_info/'+competition_id+'?<%=@iframe_params%>', {}, function(response) {
		if (!response.success) {
			alert(response.msg);
		} else {
			$('#new-competition-fancybox input.race-id').val(race_id);
			$('#new-competition-fancybox input.competition-id').val(competition_id);
			$('#new-competition-fancybox div.header div.race-name').html(race_name);
			$('#new-competition-fancybox div.field-values input.competition-name').val(response.data['name']);
			$('#new-competition-fancybox div.field-values textarea.competition-description').html(response.data['description']);
			if (response.data['is_private']) $('#privacy-private').attr('checked', true);
			
			$.fancybox.open('#new-competition-fancybox', {
				padding: 5,
				width: 600,
				autoSize: false,
				autoHeight: true,
				scrolling: 'no',
				helpers: {
					overlay: {
						closeClick: false
					}
				}
			});
		}
	});
}
</script>