<script id="stage-header-template" type="text/x-handlebars-template">
	<!-- Stage overview -->
	<div id="stage-overview" class="grayblack">
		<div class="row collapse">
			<div class="large-6 small-6 columns">
				<div class="name" style="float:left;">
					<div class="title black">{{stage_name}}</div>
				</div>
			</div>
			<div class="large-6 small-6 columns">
				{{#if countdown}}
					<div class="timer" style="margin:10px 5px;">
						<div class="title">
							<span class="bold">{{stage_name}}</span> STARTING IN
						</div>
						<div class="countdown hide-for-small">
							<div class="col">
								<div class="value days">--</div>
								<div class="unit">DAYS</div>
							</div>
							
							<div class="col">
								<div class="value hours">--</div>
								<div class="unit">HOURS</div>
							</div>
							
							<div class="col">
								<div class="value minutes">--</div>
								<div class="unit">MINS</div>
							</div>
							<div style="clear:both;"></div>
						</div>
						<div class="countdown hide-for-medium-up">
							<div class="col">
								<span class="value days bold">--</span>
								<span class="unit">D</span>
							</div>
							
							<div class="col">
								<span class="value hours bold">--</span>
								<span class="unit">H</span>
							</div>
							
							<div class="col">
								<span class="value minutes bold">--</span>
								<span class="unit">M</span>
							</div>
							<div style="clear:both;"></div>
						</div>
					</div>
				{{else}}
					<div class="status">
						<span class="bold">STAGE</span> {{status}}
					</div>
				{{/if}}
			</div>
		</div>
		<div class="row collapse">
			<div class="large-12 columns">
				<div class="info">
					<div class="row collapse">
						<div class="large-1 small-1 columns">
							<div class="col big bold" style="margin-right:10px;">
								{{#if stage_type_flat}}
									<%=image_tag 'type-flat.jpg'%>
								{{/if}}
								{{#if stage_type_medium_mountain}}
									<%=image_tag 'type-medium-mountain.png'%>
								{{/if}}
								{{#if stage_type_high_mountain}}
									<%=image_tag 'type-high-mountain.png'%>
								{{/if}}
								{{#if stage_type_mountain_finish}}
									<%=image_tag 'type-mountaintop-finish.png'%>
								{{/if}}
								{{#if stage_type_itt}}
									<%=image_tag 'type-individual-time-trial.png'%>
								{{/if}}
								{{#if stage_type_ttt}}
									<%=image_tag 'type-team-time-trial.png'%>
								{{/if}}
							</div>
						</div>
						<div class="large-2 small-4 columns">
							<div class="col bold stacked">
								<span class="hide-for-small">TYPE</br></span>
								{{#if stage_type_flat}}
									<%=STAGE_TYPE[:F]%>
								{{/if}}
								{{#if stage_type_medium_mountain}}
									<%=STAGE_TYPE[:MM]%>
								{{/if}}
								{{#if stage_type_high_mountain}}
									<%=STAGE_TYPE[:HM]%>
								{{/if}}
								{{#if stage_type_mountain_finish}}
									<%=STAGE_TYPE[:MF]%>
								{{/if}}
								{{#if stage_type_itt}}
									<%=STAGE_TYPE[:ITT]%>
								{{/if}}
								{{#if stage_type_ttt}}
									<%=STAGE_TYPE[:TTT]%>
								{{/if}}
							</div>
						</div>
						<div class="large-3 small-3 columns">
							<div class="text-center">
								<div class="col big bold">
									{{distance_km}} <span class="stick-to-left">KM</span>
								</div>
							</div>
						</div>
						<div class="large-3 small-4 columns">
							<div class="col bold stacked">
								<span class="hide-for-small">START-FINISH</br></span>{{start_location}}-{{end_location}}
							</div>
						</div>
						<div class="large-3 hide-for-small columns">
							<div class="col add-tip bold">
								{{#if rider_id}}
									<%=image_tag 'tick.png', {:style=>'float:left; margin-right:5px; margin-top:10px;'}%>
									<div class="text">
										You've tipped <span class="selected-rider-name {{stage_id}}">{{rider_name}}</span>
									</div>
								{{else}}
									<div class="text red">
										<span class="selected-rider-name {{stage_id}}">You have not tipped anybody.</span>
									</div>
								{{/if}}
							</div>
						</div>
					</div>
					<div style="clear:both;"></div>
				</div>
			</div>
		</div>
		<div class="description gray italic">
			{{description}}
		</div>
	</div>

	<div class="row collapse hide-for-medium-up" id="stage-overview-small">
		<div class="small-12 columns">
			<div class="col add-tip bold" style="width:100%;">
				{{#if rider_id}}
					<div class="text blue">
						<%=image_tag 'tick.png' %>
						You've tipped <span class="selected-rider-name {{stage_id}}">{{rider_name}}</span>
					</div>
				{{else}}
					<div class="text red">
						<span class="selected-rider-name {{stage_id}}">You have not tipped anybody.</span>
					</div>
				{{/if}}
			</div>
		</div>
	</div>

</script>