<!doctype html>
<!--[if IE 8]>    <html class="no-js lt-ie9" lang="en"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" lang="en"> <!--<![endif]-->
<head>
	<meta charset="utf-8" />
	<meta http-equiv="X-UA-Compatible" content="IE=edge,IE=9,IE=8,chrome=1" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
    <meta itemprop="image" content="<%=image_path 'favicon.png'%>" />
    <link rel="icon" href="<%=image_path 'favicon.png'%>" type="image/x-icon" />
    <link rel="shortcut icon" href="<%=image_path 'favicon.png'%>" type="image/x-icon" />
    
    
	<title>Racetipper - Tip to Win</title>
    
	<meta name="description" content="" />
	<meta name="author" content="RACETIPPER.COM" />
        
	<link href='http://fonts.googleapis.com/css?family=PT+Sans:400,700,400italic|PT+Sans+Caption:400,700' rel='stylesheet' type='text/css' />        
	
	<!-- SCRIPT IE FIXES -->  
	<!--[if lt IE 9]>
	<script src="http://css3-mediaqueries-js.googlecode.com/svn/trunk/css3-mediaqueries.js"></script>
	<script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
	<![endif]--> 
	<!-- END SCRIPT IE FIXES-->

	<%= javascript_include_tag "application" %>
	<%= javascript_include_tag "synergy/libs/modernizr.custom.min" %>
	<%= javascript_include_tag "synergy/libs/jquery.wipetouch" %>
	<%= javascript_include_tag "synergy/libs/jquery.gmap.min" %>
	<%= javascript_include_tag "synergy/greensock/minified/TweenMax.min" %>   
	<%= javascript_include_tag "synergy/libs/jquery.timer" %>
	<%= javascript_include_tag "synergy/libs/jqueryui/1.9.2/jquery-ui-1.9.2.custom.min" %>
	<%= javascript_include_tag "synergy/libs/jquery.mousewheel.min" %>
	<%= javascript_include_tag "synergy/mediacreed/scrollbar/mc.custom.list" %>
	<%= javascript_include_tag "synergy/mc.modules.animation.js" %>
	<%= javascript_include_tag "jcrop/jquery.Jcrop.min" %>
	<%= csrf_meta_tags %>
	
	<%= stylesheet_link_tag "application.css", :media => "all" %>
</head>

<body>
<div id="fb-root"></div>
<script>(function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) return;
  js = d.createElement(s); js.id = id;
  js.src = "//connect.facebook.net/en_US/all.js#xfbml=1&appId=<%=FACEBOOK_APP_ID%>";
  fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));</script>

<div class="main-template-loader"></div>

<div id="template-wrapper">
    <%= render :partial=>'app_partials/left_navigator' %>

    <div id="module-container">
    </div>
    
</div>

<div id="load-container">
</div>

<div id="loading-animation">
	<img src="assets/synergy/loaders/loader.gif" width="16" height="11" alt="Synergy - loading animation"/>
</div>
<div id="footer-social-tooltip"></div>

<div id="console-log"></div>
<script type="text/javascript" src="//assets.pinterest.com/js/pinit.js"></script> 
</body>
</html>
