<!DOCTYPE html>
<html class="no-overflow" data-safeMod="false" data-mobileSafeMod="true" data-safeModPageInAnimation="fadeInLeft" data-inAnimation="fadeInLeft" data-outAnimation="fadeOutRightBig" data-lightboxInAnimation="fadeInLeftBig" data-profileImageAnimation="rotate-left" data-jmpressAnimationDuration="1000">
<head>
	
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <meta name="description" content="impressiVcard - impressiVCard Responsive HTML5 VCard Template">
    <meta name="keywords" content="impressivcard, vcard, html5, ,portfolio">
    <meta name="author" content="Pixelwars">
	<title>Race Tipper</title>
    
    <!-- FAV and TOUCH ICONS -->
    <link rel="shortcut icon" href="/impressivcard/images/ico/favicon.ico">
    <link rel="apple-touch-icon-precomposed" sizes="144x144" href="/impressivcard/images/ico/iv-logo-144.png">
    <link rel="apple-touch-icon-precomposed" sizes="114x114" href="/impressivcard/images/ico/iv-logo-114.png">
    <link rel="apple-touch-icon-precomposed" sizes="72x72" href="/impressivcard/images/ico/iv-logo-72.png">
    <link rel="apple-touch-icon-precomposed" href="/impressivcard/images/ico/iv-logo-57.png">
    
	<!-- FONTS -->
    <link href='http://fonts.googleapis.com/css?family=Lora:400,700,400italic,700italic' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Patua+One' rel='stylesheet' type='text/css'>
	<link href='http://fonts.googleapis.com/css?family=Rokkitt:400,700' rel='stylesheet' type='text/css'>
    
    <!-- STYLES -->
    <link rel="stylesheet" type="text/css" href="/impressivcard/css/normalize.css">
    <link rel="stylesheet" type="text/css" href="/impressivcard/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="/impressivcard/css/jquery.transitions.css">
    <link rel="stylesheet" type="text/css" href="/impressivcard/css/main.css">
    <link rel="stylesheet" type="text/css" href="/impressivcard/css/animate.css">
    <link rel="stylesheet" type="text/css" href="/impressivcard/css/jquery.fancybox-1.3.4.css">
	<link rel="stylesheet" type="text/css" href="/bxslider/jquery.bxslider.css">
	<%= stylesheet_link_tag "racetipper.css", :media => "all" %>
	
    <!-- SCRIPTS -->
	<!-- Javascript -->
	<%= javascript_include_tag "application" %>
	<%= csrf_meta_tags %>
	
	<!--[if lte IE 9]><script src="/impressivcard/js/IE9.js"></script><![endif]-->
    <!-- Grab Google CDN's jQuery, with a protocol relative URL; fall back to local if offline -->
	<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js"></script>
    <script>window.jQuery || document.write('<script src="/impressivcard/js/jquery-1.7.2.min.js"><\/script>')</script>
    <script src="/impressivcard/js/jquery.address-1.4.min.js"></script>
    <script src="/impressivcard/js/detectmobilebrowser.js"></script>
    <script src="/impressivcard/js/jmpress.js"></script>
    <script src="/impressivcard/js/iscroll.js"></script>
    <script src="/impressivcard/js/jScroll.js"></script>
    <script src="/impressivcard/js/modernizr.js"></script>
    <script src="/impressivcard/js/jquery.waitforimages.js"></script>
    <script src="/impressivcard/js/jquery.isotope.min.js"></script>
    <script src="/impressivcard/js/jquery.transitions.js"></script>
    <script src="/impressivcard/js/jquery.fitvids.js"></script>
    <script src="/impressivcard/js/jquery.validate.min.js"></script>
    <script src="/impressivcard/js/spin.min.js"></script>
    <script src="/impressivcard/js/jquery.fancybox-1.3.4.pack.js"></script>
    <script src="/impressivcard/js/send-mail.js"></script>
    <script src="/impressivcard/js/main.js"></script>
	<script src="/bxslider/jquery.bxslider.js"></script>
	<%= javascript_include_tag "racetipper" %>
    
	<!-- SKINS -->
    <link rel="stylesheet" type="text/css" href="/impressivcard/css/skins/menu/light.css">
    
</head>




<body>
	<%=csrf_meta_tag%>
	
	<!-- Facebook -->
	<div id="fb-root"></div>
	<script>
		window.fbAsyncInit = function() {
			FB.init({
				appId      : '<%=FACEBOOK_APP_ID%>', // App ID
				channelUrl : '<%=SITE_URL%>channel.html', // Channel File
				status     : true, // check login status
				cookie     : true, // enable cookies to allow the server to access the session
				xfbml      : true  // parse XFBML
			});
			
			//Remove the Facebook loader
			$('.fb_loading').hide();
			$('.fb_loaded').fadeIn();

			// Additional init code here
			FB.getLoginStatus(function(response) {
				if (response.status === 'connected') {
					// connected
					
				} else if (response.status === 'not_authorized') {
					// not_authorized
					console.log(response);
				} else {
					// not_logged_in
					
				}
			});
		};

		// Load the SDK Asynchronously
		(function(d){
			var js, id = 'facebook-jssdk', ref = d.getElementsByTagName('script')[0];
			if (d.getElementById(id)) {return;}
			js = d.createElement('script'); js.id = id; js.async = true;
			js.src = "//connect.facebook.net/en_US/all.js";
			ref.parentNode.insertBefore(js, ref);
		}(document));
	</script>
	<!-- End Facebook -->
	
    <!-- BEGIN HEADER -->
    <header id="header">
        <div class="wrapper">
            <!-- NAV MENU -->
            <nav>
                <ul>
                    <li><a href='#/home' onclick="show_season_info();"><span>Home</span></a></li>
                    <li><a href='#/competitions' onclick="show_competitions();"><span>Competitions</span></a></li>
					<% if (!@user.nil?) %>
						<li><a href='#/profile' onclick="show_profile();"><span>Profile</span></a></li>
					<% end %>
                </ul>
            </nav>
            <!-- NAV MENU -->
            
            <!-- TITLE -->
            <div class="title">
                <h1>Race Tipper</h1>
                <p>Tip to win :)</p>
            </div>
            <!-- TITLE -->
        
        </div>
		
		<% if (@user.nil?) %>
			<div style="float:right; padding:15px;">
				<button id="login" href="#login_form" class="login">Login</button>
			</div>
		<% else %>
			<div style="float:right; padding:15px;" class="asdf">
				<table class="usermenu">
					<tr>
						<th><img src="<%=@user_img%>" style="width:25px; float:left; padding-right:3px;"></th>
						<th style="cursor:pointer;"><%=(@user.firstname+' '+@user.lastname).strip%></th>
						<th style="cursor:pointer;"><div class="arrow-down usermenu"></div></th>
					</tr>
					<tr class="choice" href="/users/settings"><td colspan="3" style="padding:6px;"><span class="icon">Ñ</span>Settings</td></tr>
					<tr class="choice" href="/users/logout"><td colspan="3" style="padding:6px;"><span class="icon">Ï</span>Logout</td></tr>
				</table>
			</div>
			
			<% if (@user.fb_id.nil?) %>
				<div style="float:right;">
					<img src="/assets/fb_loading.gif" class="fb_loading" style="margin-top:14px;">
					<a href="#" class="fb_loaded" style="display:none;" onclick="link_fb();">
						<img src="/assets/fb_connect.png" style="height:33px; margin-top:18px;">
					</a>
				</div>
			<% end %>
		<% end %>
    </header>
    <!-- END HEADER -->
    
	<% if (@user.nil?) %>
		<%= render 'users/partials/login_form' %>
	<% end %>
    
    
    
    <!-- ************************ PAGES -->
    <div id="pages">
    
    
    	<!-- PAGE : HOME -->
        <section id="home" class="page wrapper" data-x="-16500" data-y="-1250" data-rotate="0" data-scale="14">
        	
            <!-- PAGE TITLE -->
        	<h2 class="caption"><span>HOME</span></h2>
			
			<div id="home-content" class="home-content">
				<div class="iscroll-wrapper">
					<div class="scroller container">
			
						<!-- PORTFOLIO ITEMS -->
						<div id="portfolio-items" class="portfolio-items season_info_portfolio"></div>
						<!-- PORTFOLIO ITEMS -->
					</div>
				</div>
			</div>
        
		</section>
        <!-- PAGE : HOME -->
        
		
        
        <!-- PAGE : COMPETITIONS -->
        <section id="competitions" class="page wrapper competitions" data-x="1500" data-y="250" data-rotate="-90" data-scale="16">
			
            <!-- PAGE TITLE -->
            <h2 class="caption"><span>COMPETITIONS</span></h2>
			
			<div id="competition-content" class="competition-content">
				<div class="iscroll-wrapper">
					<div class="scroller container">
					
						<!--FILTERS-->
						<% if (!@user.nil?) %>
							<ul id="filters">
							  <li class="current"><a href="#" id="my_competitions" data-filter=".mine">Mine</a></li>
							  <li><a href="#" id="all_competitions" data-filter="*">All</a></li>
							  <li class="hide_new_competition" style="display:none;"><a href="#" onclick="hide_new_competition();">Back</a></li>
							</ul>
						<% end %>
						<!--FILTERS-->
							
							
						<!-- PORTFOLIO ITEMS -->
						<div id="portfolio-items" class="portfolio-items competition_portfolio"></div>
						<!-- PORTFOLIO ITEMS -->
						
						<!-- BEGIN New competition -->
						<div id="new_competition" style="height:auto;"></div>
						<!-- END New competition -->
						
						<div style="clear:both;"></div>
						<div style="text-align:center;">
							<button id="more_competitions" onclick="load_more_competitions();">MORE</button>
							<img id="more_competitions_loading" src="/assets/ajax-loader.gif" style="display:none;">
						</div>
					</div>
				</div>
			</div>
            
        </section>
        <!-- PAGE : COMPETITIONS -->
        

		
        <!-- PAGE : SEASON INFO -->
        <section id="season_info" class="page wrapper season_info" data-x="14500" data-y="1250" data-rotate="0" data-scale="4">
        	
            <!-- PAGE TITLE -->
            <h2 class="caption"><span>SEASON INFO</span></h2>
			
			
            
        </section>
        <!-- PAGE : SEASON INFO -->
        
        
        
        
        <!-- PAGE : PROFILE -->
        <section id="profile" class="page wrapper" data-x="14500" data-y="5250" data-rotate="90" data-scale="2">
        	
            <!-- PAGE TITLE -->
        	<h2 class="caption">
				<span>PROFILE</span>
			</h2>
			
			<div class="iscroll-wrapper">
				<div class="scroller container">
					<div class="profile_portfolio"></div>
				</div>
			</div>
			
        </section>
        <!-- PAGE : PROFILE -->
        
        
        
    </div>
    <!-- ************************ PAGES -->
    
    
    
    
    <!-- ************************ PORTFOLIO OVERLAY -->
    <div class="p-overlay">
    	
    </div>
    <!-- ************************ PORTFOLIO OVERLAY -->
    
    <!-- ************************ PORTFOLIO OVERLAY -->
    <div class="p-overlay">
    	
    </div>
    <!-- ************************ PORTFOLIO OVERLAY -->
    
    
    
    <!-- ************************ AJAX LOADER -->
    <div class="loader"></div>
    <!-- ************************ AJAX LOADER -->
	
	<script>
		$(document).ready(function() {
			$("button#login").fancybox({
				modal: true,
			});
		});
	</script>
	
	<div class="item competition template">
		<div class="media-box">
			<img src="" alt="" style="height:140px; width:200px;">
			<div class="mask">
				<h3 class="title">SEE COMPETITION DETAILS</h3>
				<a data_id="" href="#/competitions/show/" class="ico show-details"></a>
			</div>
		</div>
		<h3 class="project-title"></h3>
		<p class="category">In Progress</p>
	</div>
</body>
</html>
